USE [SmartCursorSTG]
GO
/****** Object:  StoredProcedure [dbo].[SP_Planned_Hrs_Calc]    Script Date: 16-12-2024 9.20.11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_Planned_Hrs_Calc](
    @FROMDATE DATE,
    @TODATE DATE, 
	@COMPANYID BIGINT, 
	@EMPLOYEEID UNIQUEIDENTIFIER )
AS BEGIN

		DECLARE @OUTPUT TABLE ( EMPLOYEENAME NVARCHAR (1000),EMPLOYEEID UNIQUEIDENTIFIER,EMPLOYEENUMBER NVARCHAR(100),CLIENTNAME NVARCHAR(1000),CASENUMBER NVARCHAR(100),CASENAME NVARCHAR(1000), STARTDATE DATE,  ENDDATE DATE,TOTALMINUTES BIGINT, TOATLHOURS Money,TOTALOVERRUNMINUTES BIGINT, ISOVERRUNHOURS Money,CASEID UNIQUEIDENTIFIER,PHOTOURL NVARCHAR(1000), SCHEDULETYPEID UNIQUEIDENTIFIER NULL, SCHEDULETYPE NVARCHAR(100), IsActualHrs bit)   -- ScheduleTypeid means Calender / LeaveApplication Id - Added by SSK)

		DECLARE @START_DATE DATE
		DECLARE WORKWEEK_EMPLOYEE_HOURS_CURSOR CURSOR FOR 

			SELECT * FROM FC_WORKWEEK(@FROMDATE,@TODATE)  
				OPEN WORKWEEK_EMPLOYEE_HOURS_CURSOR
				FETCH NEXT FROM WORKWEEK_EMPLOYEE_HOURS_CURSOR INTO @START_DATE
				WHILE @@FETCH_STATUS=0
				BEGIN  
				     
					INSERT INTO @OUTPUT (EMPLOYEENAME,EMPLOYEEID,EMPLOYEENUMBER,CLIENTNAME,CASENUMBER,CASENAME,STARTDATE,ENDDATE,TOTALMINUTES,TOTALOVERRUNMINUTES,CASEID,PHOTOURL)										    
						SELECT E.FIRSTNAME AS EMPLOYEENAME, E.ID AS EMPLOYEENO, E.EMPLOYEEID AS EMPLOYEENUMBER,C.NAME AS CLIENTNAME ,CG.SYSTEMREFNO AS CASENUMBER, 
						       C.NAME AS CASENAME,@START_DATE AS START_DATE,DATEADD(D, 6, @START_DATE) AS END_DATE,SUM(DATEDIFF(MINUTE,0,HOURS)) AS TOTALMINUTES,
						       SUM(DATEDIFF(MINUTE,0,IsOverRunHours)) AS TOTALOVERRUNMINUTES,CG.Id AS CASEID,
						       E.PhotoId AS PHOTOURL  
					    FROM COMMON.EMPLOYEE E 
						     LEFT JOIN WORKFLOW.SCHEDULETASK SCH ON E.ID=SCH.EMPLOYEEID 
						     JOIN WORKFLOW.CASEGROUP CG ON CG.ID=SCH.CASEID
						     JOIN WORKFLOW.CLIENT C ON C.ID=CG.CLIENTID
						WHERE SCH.STARTDATE <= DATEADD(D, 6, @START_DATE) 
						      AND SCH.ENDDATE >= @START_DATE 
						      AND SCH.COMPANYID = @COMPANYID
						      AND E.ID=@EMPLOYEEID and cg.ServiceNatureType = 0
						      --AND SCH.ISOVERRUN is null--ISOVERRUN
						GROUP BY SCH.CASEID, E.FIRSTNAME, E.EMPLOYEEID, E.ID, C.NAME, CG.SYSTEMREFNO,CG.Id,E.PhotoId

					  
	
				FETCH NEXT FROM WORKWEEK_EMPLOYEE_HOURS_CURSOR INTO @START_DATE
				END 
		CLOSE WORKWEEK_EMPLOYEE_HOURS_CURSOR
		DEALLOCATE WORKWEEK_EMPLOYEE_HOURS_CURSOR

		SELECT EMPLOYEENAME,EMPLOYEEID,EMPLOYEENUMBER,CLIENTNAME,CASENUMBER,CASENAME,STARTDATE,ENDDATE, (TOTALMINUTES / 60 + (TOTALMINUTES % 60) / 100.0) AS TOATLHOURS, (TOTALOVERRUNMINUTES / 60 + (TOTALOVERRUNMINUTES % 60) / 100.0)  As ISOVERRUNHOURS ,CASEID,PHOTOURL,SCHEDULETYPEID, SCHEDULETYPE , 0 as IsActualHrs
		FROM @OUTPUT Where coalesce(SCHEDULETYPE,'null') <> 'LeaveApplication'
		GROUP BY EMPLOYEENAME,EMPLOYEEID,EMPLOYEENUMBER,CLIENTNAME,CASENUMBER,CASENAME,STARTDATE,ENDDATE,CASEID,PHOTOURL,SCHEDULETYPEID,SCHEDULETYPE, TOTALMINUTES, TOTALOVERRUNMINUTES
		ORDER BY CASENUMBER  

			------//////// Except Saturday & Sunday ///////-----------
	--Begin	
	--	Declare @EMPNAME NVARCHAR(1000),
	--			@EMPID UNIQUEIDENTIFIER,
	--			@EMPNUMBER NVARCHAR(100),
	--			@CLIENTNAME NVARCHAR(1000),
	--			@CASENUMBER NVARCHAR(100),
	--			@CASENAME NVARCHAR(1000), 
	--			@STARTDATE DATE,  
	--			@ENDDATE DATE,
	--			@TOATLHOURS MONEY,
	--			@ISOVERRUNHOURS Money,
	--			@CASEID UNIQUEIDENTIFIER,
	--			@PHOTOURL NVARCHAR(1000), 
	--			@SCHEDULETYPEID UNIQUEIDENTIFIER, 
	--			@SCHEDULETYPE NVARCHAR(100), 
	--			@IsActualHrs bit,
	--			@SDate DATE,
	--			@Cnt Int,
	--			@CntAmt Money
	----// Declare Cursor To Exclude Saturday,sunday and Holidays
	--	Declare Holds_Csr Cursor For
	--		SELECT EMPLOYEENAME,EMPLOYEEID,EMPLOYEENUMBER,CLIENTNAME,CASENUMBER,CASENAME,STARTDATE,ENDDATE, (TOTALMINUTES / 60 + (TOTALMINUTES % 60) / 100.0) AS TOATLHOURS, (TOTALOVERRUNMINUTES / 60 + (TOTALOVERRUNMINUTES % 60) / 100.0)  As ISOVERRUNHOURS ,CASEID,PHOTOURL,SCHEDULETYPEID, SCHEDULETYPE , 0 as IsActualHrs
	--	FROM @OUTPUT 
	--	GROUP BY EMPLOYEENAME,EMPLOYEEID,EMPLOYEENUMBER,CLIENTNAME,CASENUMBER,CASENAME,STARTDATE,ENDDATE,CASEID,PHOTOURL,SCHEDULETYPEID,SCHEDULETYPE, TOTALMINUTES, TOTALOVERRUNMINUTES
	--	ORDER BY CASENUMBER  
		
	--	Open Holds_Csr
	--	Fetch Next From Holds_Csr Into							@EMPNAME,@EMPID,@EMPNUMBER,@CLIENTNAME,@CASENUMBER,@CASENAME,@STARTDATE,@ENDDATE,@TOATLHOURS,@ISOVERRUNHOURS,@CASEID,@PHOTOURL,@SCHEDULETYPEID,@SCHEDULETYPE,@IsActualHrs
	--	While @@FETCH_STATUS=0
	--	Begin
	--	-- // Declare variable to store startdate to increase
	--	Set @SDate=@STARTDATE
	--	Set @CntAmt=0
	--	If @TOATLHOURS <>0 and @SCHEDULETYPE='LeaveApplication' 
	--		Begin
	--	-- // Check day by day until enddate 
	--		While @SDate <= @ENDDATE
	--			Begin
	--			If Exists (Select Id From Common.TimeLogItem Where @SDate Between StartDate and EndDate and CompanyId=@COMPANYID)
	--				Begin	
	--				If Exists (Select Distinct [WeekDay] From Common.WorkWeekSetUp Where IsWorkingDay=0 And CompanyId=@COMPANYID And [WeekDay]=DATENAME(WEEKDAY,@SDate))
	--					--// Checking the date [saturday or sunday]
	--					Begin
	--					Select @Cnt=Count(distinct [WeekDay]) From Common.WorkWeekSetUp Where IsWorkingDay=0 And CompanyId=@COMPANYID And [WeekDay]=DATENAME(WEEKDAY,@SDate) 
	--					Group by WeekDay

	--					Set @CntAmt=@CntAmt+@Cnt * 8
	--					--// Update temp table data removing hours of holidays , Saturday & sunday hours 
	--					Update @OUTPUT Set TOATLHOURS=TOATLHOURS - @CntAmt Where EMPLOYEEID=@EMPID And EMPLOYEENAME=@EMPNAME And STARTDATE=@STARTDATE And ENDDATE=@ENDDATE And CASENUMBER=@CASENUMBER	And CLIENTNAME=@CLIENTNAME-- And coalesce(CASENAME,'Null')=Coalesce(@CASENAME,'Null')
	--					Set @CntAmt=0
	--					End
	--				Else
	--				--// checking the date [holiday]
	--					Begin
	--					Select @cnt=count(*) From Common.Calender Where CompanyId=@COMPANYID And CalendarType='Non-Working' And @SDate Between FromDateTime And ToDateTime
	--					If @Cnt <>0
	--						Begin
	--						Set @CntAmt=@CntAmt+@Cnt * 8
	--						--// Update temp table data removing hours of holidays , Saturday & sunday hours 
	--						Update @OUTPUT Set TOATLHOURS=TOATLHOURS - @CntAmt Where EMPLOYEEID=@EMPID And EMPLOYEENAME=@EMPNAME And STARTDATE=@STARTDATE And ENDDATE=@ENDDATE And				CASENUMBER=@CASENUMBER	And CLIENTNAME=@CLIENTNAME --And coalesce(CASENAME,'Null')=Coalesce(@CASENAME,'Null')
	--						Set @CntAmt=0
	--						End
	--					End
	--				End
	--				Set @SDate=DATEADD(d,1,@SDate)
	--			End
	--			----// Update temp table data removing hours of holidays , Saturday & sunday hours 
	--			--Update @OUTPUT Set TOATLHOURS=TOATLHOURS - @CntAmt Where EMPLOYEEID=@EMPID And EMPLOYEENAME=@EMPNAME And STARTDATE=@STARTDATE And ENDDATE=@ENDDATE And		CASENUMBER=@CASENUMBER	And CLIENTNAME=@CLIENTNAME And coalesce(CASENAME,'Null')=Coalesce(@CASENAME,'Null')
	--		End
	--			Fetch Next From Holds_Csr Into							@EMPNAME,@EMPID,@EMPNUMBER,@CLIENTNAME,@CASENUMBER,@CASENAME,@STARTDATE,@ENDDATE,@TOATLHOURS,@ISOVERRUNHOURS,@CASEID,@PHOTOURL,@SCHEDULETYPEID,@SCHEDULETYPE,@IsActualHrs
	--	End

	--	Close Holds_Csr
	--	Deallocate Holds_Csr

	--	SELECT EMPLOYEENAME,EMPLOYEEID,EMPLOYEENUMBER,CLIENTNAME,CASENUMBER,CASENAME,STARTDATE,ENDDATE,SUm(Isnull(TOATLHOURS,0)) as TOATLHOURS,Sum(Isnull(IsOverRunHours,0)) As	ISOVERRUNHOURS ,CASEID,PHOTOURL,SCHEDULETYPEID, SCHEDULETYPE , 0 as IsActualHrs
	--	FROM @OUTPUT 
	--	GROUP BY EMPLOYEENAME,EMPLOYEEID,EMPLOYEENUMBER,CLIENTNAME,CASENUMBER,CASENAME,STARTDATE,ENDDATE,CASEID,PHOTOURL,SCHEDULETYPEID,SCHEDULETYPE
	--	ORDER BY CASENUMBER
 --   End

end
GO
