USE [SmartCursorSTG]
GO
/****** Object:  StoredProcedure [dbo].[BR_EntityDetail_Ceassion_State]    Script Date: 16-12-2024 9.20.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[BR_EntityDetail_Ceassion_State]
AS 
GO
