USE [SmartCursorSTG]
GO
/****** Object:  StoredProcedure [dbo].[BC_Customer_GRID_Aging]    Script Date: 16-12-2024 9.20.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




--Declare @Tenantid bigint=1,@AsOf DateTime=GetUTCDate(),@Nature Varchar(50)='Trade,Other',@ServiceEntity Varchar(MAX)='2,3,4,5,6,7,8,9',@Currency Varchar(MAX)='Base Currency',@DocCurrency Varchar(MAX)=NULL
 
-- Declare @Customer NVarchar(MAX)='0006F231-FFEF-4BBC-A3CF-195715FDF389,0013A3FF-813E-491B-B2CF-8D853F8312D3,005EDD5A-926C-4813-BD6B-287AE4A91DDB,0064AB62-E8A1-4066-B3CF-6AD131775B83,00F4BD4D-69BD-4945-8CE3-11E4BAA7377D,01C8EA98-1FF7-4DB7-9F8A-3469F203D11F,02389C40-D640-4F8D-80EC-CB9C9647783C,02929C28-02C6-4FD3-8C63-E5A2B406FBE9,02E29229-5A1A-4F50-847C-D750B807D0E3,0358B966-EBAE-4F2C-95B1-0027354649FD,036C2AE6-CC27-4314-8437-BBFC51AAD687,03AEFCFF-13FA-4541-B526-CBAE652A66C3,0493CC71-1E53-4A82-906C-0BFDDDFFA25E,05001B01-6693-405A-A0C3-8BDD7449ED06,0508B2C0-D0B1-455F-9C15-439F21E6816A,057FB205-0CBD-4CDF-BE19-797158F3CBE6,05B098B8-5D3E-4754-A871-A53E7F1ACE40,05C6016B-D1BD-408D-A358-BD218407732E,06828B94-4F7D-4CEA-A15F-8E078DE7419E,068DCD71-BF4E-402B-9975-32123F2875A4,06C4BBDB-905D-4112-BC27-5FA5E2F4BDC2,0725E8E3-C2A3-402B-BC7D-339A82C00E2C,07907B24-E8E4-4880-B983-268290E30BD5,079BEE45-2FB3-4A00-B07F-717826A41ED8,07E94C6D-AE83-41EE-BCEF-AAAB7FC0F1D9,087CFB7F-1670-423B-B9B5-2F663B69D20A,08FF81F5-B7A5-4F7F-A34F-F4D9B30038A9,090A91F0-F4F2-4198-8E40-391FD1EE6952,092014D9-9EE7-4932-8D8C-54BE3FB02602,09EC6AC4-4688-41D5-BD83-1B7257E93819,0A70112A-8F5C-4A04-9DE4-4F4B46371681,0A9CB8FE-CFEB-40D7-A585-EBBC0A2D91B8,0B213B19-0CED-47E6-B31C-74BC6E191449,0BB3B228-46FE-4EC0-A5A5-5105C9FA8D60,0BC3206F-BF49-46CC-A726-1A79ECDCC7C2,0DB9BBCA-234D-40B3-8E68-0A3CF88E05C3,0DFB83FC-10F5-424F-BB81-100D9A4ACD03,0E2873E6-F154-4DB2-B1BA-59CC5023BDF3,0EA13F22-A092-4D34-8D3B-1DC51C0CCDBB,0F6B27FA-F952-4367-B40E-4FF869D8E35A,0FB10160-28A2-4E2B-964A-D3A5D4212B78,0FB6C9BB-9DD4-4106-82FD-BCB27A1CC9E4,1083BF6F-7A74-461E-A970-F08AE1B482FB,1141507F-CFB8-4345-9786-EFA7564C2EA9,116D3035-B748-4DB5-9C95-558F28DBBF21,119C6DC7-C875-400D-827A-E9F3BF12B124,126B6FBF-2B2F-45ED-A04B-7D76863DF8B5,12DB3F8A-4FA9-4740-A087-8BB3F3F229D0,130BE480-7995-4949-BE7C-487ABE14885B,13554702-1A3A-4E2C-840E-D51690462D06,13DE4E9C-5421-4B86-A81F-EBA7983D1A28,13F47D3F-0E15-428F-8D93-5C7176F7DAD5,141178EB-3078-42F7-AB98-769144367147,155CA845-FD1C-4641-B6A0-441C168309B9,1599EB9D-CEFF-46E2-9C47-4AC56DE6DDEB,15F6A338-E3BF-4B8B-B328-A47204BD4678,16179AF9-3A8F-4691-AB30-782A72339F46,162AF62A-57F0-4DD7-9DB7-51EEEFEAE831,16308809-0EFB-4708-A3AB-2C6853EAB11D,16C52B36-77D2-4578-B3A5-8168893178BB,16F0F2B1-FD06-4B58-8D9F-5B053957FFE9,17B55851-C4D7-4397-9BA3-6033AE7FF74C,17BB675C-CB46-4DAB-9CB6-7A64DAF91CC8,17E137CD-843A-4567-81D4-9949C56748FE,18AE4137-EFA4-4989-A1F4-1868F7F93BDA,18C020A4-ED59-4BAA-8642-71F71C0480F4,18F419F9-F0C9-4392-AA33-CA6B317A8A68,18F804A9-CE64-4053-953D-A14C69F2E814,18F98E92-4CC6-41B0-AED9-FD5E8F4795A8,192E13DC-1047-4C72-91FE-DCF31670A036,19A7A0F3-F238-4DB9-8D69-21FAF8B46C33,19E8A885-0269-4204-BFA0-AAB36195DEE6,1AA69118-149B-41EF-832C-D5479AE9969E,1B3B3F42-E939-4FF9-BD4B-C7128CB78BFA,1B40BF5B-31E4-42A3-918F-B6677CCB294B,1BB07752-38FE-4424-AF2F-4994B5CD74CE,1BD671D7-CE3E-404C-B01C-89FBF92E883F,1C34D870-AF27-4A9E-9D16-606696FC745E,1C87F197-3E16-4FCC-A4AF-AC86B78CD297,1DADF534-1FCF-4644-96FA-5033A8C43025,1DF4E5C0-0244-4B16-B2D7-455C7828A27F,1E044C01-7727-49B8-AEE4-5D800C18E861,1E786005-1432-4E47-95C9-176FF7C5CA99,1E9A6EE8-8DE6-470B-8621-D0AC7061A875,1EDF19BF-2601-475B-99B6-789266327A66,1F2CA9C1-C331-4837-8234-CDF8F0B36274,2107C6C3-53C6-4023-BA6E-10A330745DD4,21F8A91A-3675-4122-9C98-CBFC0C95493D,2315C835-A360-4140-B4C2-BB73F8E64D50,231C8ADB-A19D-4219-AA5E-F4D7BDFDFD69,235A3ABF-A117-498E-AAA7-A6F8FC3EBAD8,24741118-9310-470C-BB1D-35E74613AC85,24845F88-70D0-4C1A-96CE-BD742588AEA4,2498AE73-C837-4A74-B969-C3ACD4FA6997,24CB46FD-56DE-4112-8656-EB973C39C65C,253A8BB7-C928-4BA3-9D1D-8E1F289188B8,26D0DA51-EACD-43E5-8AAB-C15519089F08,26D593D7-262E-4DB5-954D-73DBD8BA8A6C,26FAC7AE-49C9-468D-ADA6-451E98B3C3AF,273A088B-7BFF-4BD7-A800-6619C6D43A60,277AEC84-69E4-4F73-8B79-6E9E7F0A009C,27CFBC14-60B4-4CA6-9810-8FFF0F339A0C,280BB260-0EE5-4562-89F3-A9A038ECC0A3,282E5F31-34F3-481B-87CC-807BBAAC00D3,28D20E8A-86E9-4284-AF6A-CF14F8FE1BD0,2A43A5CB-99FE-4E8D-A2BA-C3626AAF58E1,2ADBF8E1-B85A-4815-A0D0-B064C749403B,2B7A0FA6-3651-4E49-AA4C-BE3126A96EF7,2BAA2FE2-595C-4085-A8C6-204952531FA4,2BCDC0C6-103F-4D4A-9DD1-5C467BD39E34,2C1B365B-97EE-4E0F-96C6-BDFECBADFE0F,2C687328-BD78-4649-ADDF-3B8A4213655F,2D1D7F55-0335-4802-9513-6BFDEEBD1844,2E0C9988-7579-44AC-8F0F-F5B28DD426A3,2E1226C3-FE58-440E-BAA3-66108235A9D8,2E953B9C-3120-4337-AC1E-3267B5356B31,2EE2BCB5-CCBF-4332-90EA-E4EC314FCC44,305A494E-CC7A-4394-8D45-27E0F1411FEE,30CD5BDC-1216-450A-9004-7ABAEFE2B9DF,30EADE1F-2979-4C13-979F-EC6C206C4C7A,31463FD8-3AAB-4282-85EE-C96B760FAB61,31661B03-3299-4426-9137-5188EC7B8314,327B3150-D68E-4588-AEDE-D183E849F9D4,3283B9C6-9C58-4971-8DF8-EF2280B779B5,334C1059-B5D3-497A-A1D9-389D25732DB6,34B77925-B2B2-4F36-946E-CB6CD1F4F502,35AB93AF-59B0-4D55-B1A3-464858EB5C37,361F1C0B-E7A2-4754-86AC-8EAB2C4E5453,361F5656-2632-4625-AA28-9EB2D1F1B326,36734BCF-E494-48EE-BBDA-384FEF37D257,36F07185-5EBA-41DF-886E-971C26F729AD,37DC1DEA-4F15-4334-867E-4FA88DF3B0C9,38352D0F-6624-406E-A98E-A8BC595CD033,3839C319-D892-4A99-AB6C-13B1BDCF691D,387903BF-003A-4998-B5E4-8EF9023A6D88,388AED47-2724-40F1-B481-572C4500AC52,38CCA48D-9D8D-4EB3-AC41-374B2D53BB57,393D24CE-5C1A-40CE-827D-A641E4C3FDAC,3A4CAA88-750B-4A9A-B6EA-677D6E65D9BD,3A7C8B34-ABDB-493E-BB26-977DA4846ADB,3A9462BD-7622-44DB-A637-E30238197320,3AF38C5F-00A9-4365-AF9A-51AE545800E7,3B0FAA06-ED1E-40E4-B79A-4FBFE88892EB,3B2626E6-0E52-4E3B-88AB-4E8F7E427BA4,3BEEB135-2C59-48EF-9F0A-51978D8650C8,3C701B30-15B7-4A41-80CB-3D0DACCEF7E0,3C71A8DA-DCA1-4CE6-8BCD-C2923B2D599F,3CCD26F7-15BA-4F1D-A3AA-AC4C490EFB58,3CE494F7-B0DB-49A1-8707-8BDD8CB15C4E,3DE5F698-C291-46C0-BC4B-09D0AB3D4F05,3F1A1626-F326-4EA6-B09C-CF09EE68E801,3F365817-24C4-444F-BE2C-E513E9F62691,3F47576E-1FDD-4AE3-A73C-1710E210CD35,3F4BD46A-B5A4-47AB-875E-1DBD0256DBC0,3F5CB1C4-D59F-4D26-B21B-42F238043F2C,3F682336-9B3D-4A63-A380-8AE2A83E8797,3F86FE5D-64CE-4D04-87FF-F1424B378B1F,40DCAFAB-BB7B-4B2C-9F6D-DA66B054F07B,41ABFDD0-0A4D-4ADB-A719-78EBB664C39A,41F4EB9C-D6FB-4F61-B689-0A9E64901728,4207B986-8D37-48B1-8E15-E899F5F0E36B,42163B26-8C30-4DE8-A0F7-7D6F199877D1,42EF0D47-9829-4F5E-AB55-99A08B0B7D1F,4359A7BB-7B0A-4519-9BA6-D1AF1A8593C8,43D07EB0-E160-4F95-8DAC-18901B6A9D9A,43F1A0A9-3A77-4645-9F7F-4533ECE80918,44066F46-F335-41F8-83C2-7A096F554FD7,4470E2F5-1DED-45C1-B7AF-3EE435A7C506,44A5A9E2-2E54-4E55-8249-94750742764C,45352E7E-4165-46FA-A1F7-6F91857CC9C1,45424361-57B9-4343-B4EE-9F4B6C221BB1,460E75CD-FDC3-4E01-8031-C45A13EE48C2,46828B42-C0E5-4098-AC6F-34974C718B84,477FDEAE-CCFF-4A5F-923A-E36AF8060CC7,47D58A42-284A-4E83-869E-899E6EF1D4A2,4816BBBB-41E0-4E1F-96EA-4F4C6DA2B5F6,484C0B99-9941-4FAE-8D7B-435E8AC45574,4905C32A-375A-4FE4-AA0E-30D14F738585,491C6F96-4470-495C-887F-9750F287B0A0,4A25949A-60D2-49CB-8A14-21B842E27B1F,4AA4E065-EC99-4098-A902-B3472191073B,4AEE5CF3-D8B6-4609-9C26-3173B8B25083,4B3AB442-31DA-4989-ACDD-BBF23B0E93F4,4B80F066-0EAA-49BB-830C-34768B71DCD3,4BE1C89F-1D54-4BAA-9A5F-98172ED97906,4C2A00B4-1640-414F-B336-0AC9AD454788,4C941EC2-1D12-4C8D-84A8-6852BA8D24E0,4CB3E973-FBB6-49A0-ADCC-9C8B38D9E4F6,4CBAF588-B8FB-4EB5-85C7-35A2AA23BD2D,4CD38B18-F94E-47CD-A18C-56879F2504A6,4D319AF7-EC03-4554-B427-EEDB143C654B,4DC5F6CE-9642-4D4B-A58F-E5E85F3FCE53,4E781E05-04D5-4926-8AA1-85238E3F21BD,4E7D5BDA-CED3-4D37-A197-DCEC01278F32,4E7DE3DA-CC12-45F6-A898-96B37256C5FB,4E89BE1B-C88B-4E07-BAD4-06BC04629C3B,4EE44267-16BE-4F14-9716-C5FB3827A5D0,4F27DA0E-E321-4614-869D-056153ACC7E0,502FDB78-EC90-454F-86E3-55D20EE11DAA,50AE75F3-78C1-49E5-A47B-028B145107AD,519C1784-AEEC-410D-AD7A-257C77F25C91,51AAD2D3-E49E-464A-8159-E43067A62D0A,528E59AD-6E7A-4AD5-96C3-A297DC160905,52AC912C-04EA-4F15-9A37-8A9BF687E12D,53089B64-4F73-4268-B4E4-D30280FBE01E,5316336F-B65F-411D-94F7-E4626B85E403,540723A9-034F-4D32-98DD-4CC6209510F9,54534371-DB9F-4E04-8028-78981BBE929C,54823BF3-2DE1-4509-A5F9-F4DF7A8118EB,54E35A4C-C9C1-4C13-BE72-58AD4A09E783,55C4CF68-0D37-4D0B-987D-10621BC9F04C,55CB6640-265B-46B4-9795-FB18F3B5AA86,55DD90FE-E4D1-4918-B5CD-77E4AF1955C5,562D0193-BCAF-4F3B-9436-08F79FC6A83D,564DDA7B-8977-4D34-A354-0B6AB675F9BF,569E8E71-FBD3-408D-B183-E01AAAC2328D,57780EBB-8E35-4273-8612-07546B17C591,57901CCE-FB77-4997-8B4B-F297B1548E92,586DA62F-C0EB-40E9-9339-9C832CC735DD,588F5F10-48F4-45C4-8F6A-7A2DD1CC1873,58D2AC78-FB75-4246-B3A9-8EE52A04ADAD,5906420D-9CBF-4605-99EA-4B0BB354042D,590F7F26-653A-4410-A66B-A814C4BE4794,592D5198-C935-4AFC-BFF3-3E75145A3777,5A289A41-1246-4162-B871-3C004883EF70,5A3AAA2E-5AB8-40D5-B4EA-48088CA9C2D2,5A443CE0-FB10-4CE2-B605-ACBA80D82885,5AE8737C-7DAC-4AE8-92E4-35197336F93E,5B918E1C-B488-46EF-B1FC-4EE732D84B43,5BDC2420-9C4F-45E6-8620-83C28572F212,5C5B7706-33D8-446F-970B-CD7786916D31,5CD6C191-81F5-4A79-BCED-447163A03CB1,5CE0FD8E-945D-4678-A4B2-261E39323471,5CF7E5F3-EA04-4FA4-92E5-EEAFBC4C9F43,5D382FD2-0D8D-4E0A-BB62-41DC61C1B3AA,5DF0D120-00FA-4890-816C-C0685C6EEC47,5DF38B28-588B-49BE-9AE3-18416CE18267,601E3AC3-F8B4-43AA-9B23-6D9541D96E5D,606E040A-7915-4DCF-A6D3-51706C9D59E9,60A7837E-8D53-4B5C-B791-5892604B1C24,61457921-A106-4257-A01B-C22C05D8782D,61DBF1F3-B658-4E82-B3E4-FDB2C06800CB,61EA1047-3C95-43CC-8C64-E413A17C22D9,61EC2340-18DB-4727-A93B-D007AEE1C9CE,620EC338-819C-49AC-8DDB-5A536C7B313D,6326076F-2120-494C-8A30-D27375CD9F27,63630A44-BB38-45E3-9745-A40B3A05A998,64FD26E3-EB0C-45F3-9332-49B04862097D,6514EB68-E5BA-4E92-AD94-CEA3C2D2420B,652895E7-404A-4277-A7B8-B3EE0F57B4FB,659C8BCE-8419-4BF9-A374-4C14CB3F2D75,66D753C7-4F2C-4D2E-B25F-C375B7CE01A0,66DC1F9E-6CD3-449F-ACEF-186709E6BA35,66E6BBFB-2985-4B9D-99D1-6214C58FCCDB,66EF363A-5660-4295-89CE-48E7C0A98A2F,67BC361E-FB18-4A53-AD4E-0B0DE66DDDF8,67DE504D-DCA1-48E6-9C44-E8EF7A269DF2,687B60DF-3AFB-44FE-8F92-88011D5CF57F,68EC12F2-722B-4438-BAA4-32E9F4AB39AD,68ED6CAA-B80E-4E9D-97D8-465F16BE2F18,68F9502F-7B8B-4739-B1CA-BD2DA0194AB3,6900205C-66F0-4E94-B498-7ED90B805A68,694FAD0D-55EF-4C24-B36D-7AFD15411FB1,695EAD9F-B0F0-42B0-8F29-E78B0AB58765,69C229D6-5005-44B4-9A92-09786648FF02,6A10E25E-EAF8-44C0-B4B3-1A9629F1C6C7,6A2931BD-6739-4203-9621-6CC541A9F22D,6A3CDCB4-7CF5-421A-93FA-9A8092C59186,6AA5B1D4-BECB-437D-B6E9-08B1D571C47F,6AF0AE56-84FA-4EF2-B8B3-E1E53287C91B,6BCD44F6-E223-4DBB-96C2-747E54213722,6BE3B72B-2FE8-42A2-A834-C01EBC189895,6C541693-2CDA-4477-B6F6-496C1A23D8FE,6C5789FF-7694-4623-8117-8E292EB6EB6B,6E758CEB-2E3F-4D16-B8BD-C97DCA8696D5,6E94F627-6E9A-49A1-BE5F-1F35C89BE439,7007668D-E500-4F8E-BE80-1532B487A7C2,70268337-FD16-4F72-80D2-36E35AFD2A9F,712BF2C8-D158-4E81-BD10-F85FE8E802E3,71F233AA-0CDF-453A-B291-1E894C5A41E1,7287D618-F642-413E-8BC4-07462D2F6F58,728C401E-D455-4104-A583-6E919C4E96E8,73C800CC-5CEA-49A6-9A19-714BF034A31B,73EA2A04-924F-4C92-9B69-E2D3EB86BCEE,73F813CC-65A8-4B6C-84AB-FBE4E556B5A8,745CC5AC-5B5E-4193-8B86-CA1FC86A05A4,74978368-8CA8-42FC-BB90-C14C7B6D22F4,74BF192A-91CC-4235-998E-65F1C0E7AC66,750F265F-58BC-4B77-8BF2-CC3D89057405,752FE88C-E1C7-404B-93D6-084CFF8DFDC0,75A16088-4FE8-4031-8F4F-F900C960C199,7623F715-71BD-4B79-BA79-4977F68FB05D,767D7E8B-1B84-4A0C-AE1F-406CE06E7E82,771F6927-BB2C-4746-8DD3-B12E6DE0A404,781B8FA8-F904-46C0-8A39-AC14DF37E297,78853112-507C-473D-9865-F96CAE6C30C8,78BDE46F-000C-4BFB-A857-0C2F71815A98,79B59C07-31BA-442E-ACDC-590A200B1EA8,7A55C909-82FD-44A3-9F4E-05C7F3FBD832,7A88394C-8D3F-496D-8F70-1A95D6B87078,7AC3F544-4855-4500-82DB-E774AEE82FE0,7AC47C84-AB7B-48F6-ABB4-2B4DDE306DB6,7AF46FBA-3FCD-47FC-968C-1760992A477C,7AFC9A0B-850A-413B-B1C5-49312897C9F5,7B12C02A-FB45-405C-AD75-25E23D2B8A78,7CA3083D-EF2F-406A-A387-4525596C195C,7D358688-19CA-4F9A-9C26-DEC05F922D3C,7D5B7291-F09F-4EA0-9651-F73E47266549,7E832B3D-11AA-417E-BA61-CB6D3C27CC66,7EA8693F-FF8B-45E5-8F17-139045D1F919,7EEB0A52-BE0F-47B7-BB79-F0169B73BE73,8066AF3B-0D94-427F-9B72-B8E41BE26D0E,80E35B3E-9F6F-4A2A-B85F-32F0B9F91D0B,81991CDF-C838-4CF1-94C6-10BE93DBE5C3,8236B3E9-9F2B-4311-AA22-73581881FF89,8277930C-08CF-4856-B7C0-628765C13554,82E5D193-C61E-480D-8D00-B2EC1BB529A9,830248D8-DBFB-4406-81B7-366FC32B7804,8308D22C-26D7-4DF0-93F8-0F278EC7A0F0,83110BC7-5000-45A2-988D-6E66844C386B,8366CC07-EBA2-43DB-8D37-6D628CE8C3D1,83E87119-C31D-4ADB-8355-E58700FFECA1,8443CA30-F3C2-4574-92DC-29830F20BF7C,84C5ED8A-A8E8-486D-8528-F2D7F6B372E0,84EFD25A-8953-4DDB-997B-1C9D9248B589,851A2EE6-0A5A-4FF5-A514-0ED2F6156D18,854E4762-BCAC-4851-A2B9-B69D557E86D7,85CFBEC9-5DCF-4CEF-BD62-ECFAABA7398B,86542695-3B8C-4848-8B7D-E36A9E9C31AB,86A15B8C-9011-4ECF-91C9-D37917A36EB9,86F68B9E-9EBC-4AF9-BEC4-FC108B0EFB3C,8786405C-CB41-4691-86B0-4FD282430D1B,87E0E4ED-6C2D-4397-95B1-DB51B4CF7BD1,87F2C25B-1712-4567-9A9B-5AE6D853DEB9,88B98585-2476-4D38-95A2-F46A919D5D23,89321566-4BFB-4BB9-B991-3E735BC76F12,89341F99-60FC-4020-91AB-17487FFEAA5D,89A3E670-8C81-4125-8A60-CF29A9B43C38,8AE2ABA7-C7CE-426D-89DF-7DBF2F6DD102,8C3BA019-7E35-445E-AD14-29D60B7DCA23,8C628640-9275-40D1-BA5B-436790DC4F2D,8C691573-33C9-4CFD-8CF1-4B6E6557E255,8CF17B8E-F66F-457D-8BEC-1CA6532B9664,8CFF9AD0-281E-4A31-8ABD-6D29CAFD0C35,8DE6402E-1358-414E-913D-21A9F17B5548,8F3B32F9-EBA6-4400-8E19-0455E0D2FA6A,90CB335D-CD09-4E4B-A696-27031224DBFD,913B5674-B022-4BB8-9924-E3F3D5ACFEC3,917F6F2A-FB8E-4E30-B0C6-20AA3C3C09B8,91CED201-9460-4FC4-87A7-6E7AFB3AAF84,9250E454-F54A-4B74-991A-FD0C2E6B214E,92569319-6679-460B-80AA-7A00A2D85BB4,9287F787-16D0-4500-8626-E36296092133,929D65F1-36C9-4AF4-929A-96BDB479097B,947470A6-BA76-4438-97D8-F087E76A0C24,94B37663-1DC9-4183-984A-C0F84AC2D77A,956CD149-04E3-42A3-9DB0-2FDF8D4B03C5,9574486B-93A3-46F4-AAA6-8EDE06B2557F,9639CF48-5085-499B-92CB-3CD35E2822D0,9680D45D-A431-45AD-B3A0-DFA88C5F8B10,9707DB2C-BE6E-4674-B665-2109DDC2E180,98B89567-D42C-423E-95E6-647A57356413,99B2F056-0C77-44B9-ADFB-C10484C0A0BF,9A3D915F-711D-48A3-AFB9-3032D6A3E3B5,9CA57B4D-D0C3-4FD3-9893-C5AFDFA28A17,9D008E13-8D89-423D-922C-7F29CDEB6C3E,9D0F410E-BCC6-4C17-8324-C817DF60D289,9D2BA46B-52F0-47A8-B1A3-38BC91139D58,9D4B0819-61D4-4A9F-8538-787F9B417AF3,9DD5D0FF-F494-4B2A-A506-1DDCBB05AC24,9E58B82F-F6F6-431D-9CBB-B611608BF55F,9ECE936E-2B3B-4182-9487-05895D16E626,9ED0D89A-32B0-4DA3-9BAB-75A021F674C6,9EDC19BF-F7C9-466B-AA2D-61E74570061D,A00EF6FF-B7CD-4251-897E-71A5BBE53D66,A03B0853-C972-43ED-836A-162FEBE75972,A061B6C7-3D4C-4735-9778-8A265AF57B49,A0DD5B71-794B-45AA-81C7-90A0ED68BF3E,A1B62B49-2F0F-4634-8A21-A22DE354584B,A2A96949-2D6D-45C4-AD34-497019E7E6D0,A302581B-20A8-4597-AF0D-8DF54ACD93FD,A32F374A-B69F-41D5-AE23-B51D49A33682,A34E2502-4335-4432-A102-1C7126BD1D7A,A37E2B5B-4B97-408A-AB92-F1C29C714E02,A3A89E7F-7666-4E65-B64E-05328472DDF5,A3C97285-E425-4DA2-B922-5321207A143D,A406202D-ECA7-43C6-A1F6-DE04F9E2120E,A4C1240D-77D3-44A8-9B68-CAD2317943E8,A56B1FD5-8D90-45B4-A9B1-3591EA3BD30D,A5C5C403-04FA-46CD-B75D-FAD5D85424E3,A6CDE22F-8AE9-4A94-97F1-19425EAA20FA,A714B4BA-CAF9-42E7-AD3F-51C299581405,A788D62F-3CA2-4985-849A-5BCF8FB13AB1,A796D6BD-B504-47F5-ABB2-24B2753E4BB7,A85C4A5A-F503-4568-A1F7-19CE4AAB6676,A87A1E3E-2536-409E-B981-D4AE97A11B40,A91745D7-84F0-4265-807B-8DDA87D0247C,A91F3665-7EC3-45C8-8953-BB7CBB18509C,A98646FE-88C5-4AE7-A5C7-029828264073,A9B4314D-1B90-44FA-9127-468DD8E7D078,A9F9CAC9-6423-4D08-9B65-F5F79139FF70,AA424C27-9B12-44B3-8E55-E22BCED22CF1,AA6C8163-CD01-475E-8D2D-54BC5EDCF077,AB7E72F3-81DC-4853-9739-99034C2CC427,AB92A582-1609-401F-8FFF-EA76AEA3B193,ABA25F14-1BF1-497E-BB9B-C06337626193,ACA03783-7720-40D0-AEC0-B6147ED1DE40,ACEF34C6-D89A-4425-9835-D8FA15203470,AD5BB255-508D-46E7-82AA-DCBA993386D2,ADE47D9B-D3D5-4A87-B9E0-7700585194C5,AE0F78A2-50FB-4498-942C-0A84D8D587DD,AFE9D476-7407-4695-A656-3FD8CE6893FD,B0D7EF36-9856-4BBA-99E6-CE1EA19BC1C2,B108B2DF-F37C-4B40-8845-49B35E474CF6,B1216C99-AF73-4F72-8164-7E92A14122F1,B16DAFE0-A781-4E56-96C3-45E7BC7120B1,B2247336-E43E-481C-98AD-E370441134A2,B3C242A7-9D42-4BBF-99ED-00D5E739D769,B4253ACD-DBFD-4E5A-9AA3-15EAE88243EC,B436B073-1700-414C-B5D2-9B17B9E5521F,B4C2473A-273C-4F35-BEC3-8244703DBF3C,B51C90B9-4C1D-46D3-A713-298621E0052A,B5E12C0F-D1F6-45B7-AB69-67F3258A5ABA,B656536E-F752-4837-91D9-1B2856909A53,B6FAFCBD-7B9B-496D-A1ED-E7C254E04DBF,B7B79668-6556-4EEC-ACB2-A753443595B8,B7F99B3C-336E-475B-9177-C2E7E80C3FC9,B884AFF2-FE85-4F10-8B83-3EBEA86125B4,B8FC81FB-F5AF-4466-8FAA-0C582C13D61E,B9C6A1EE-C94F-4C24-AFEA-A3643F0F1283,BB056568-2CFE-4CE7-8D78-A09A3C4C0A3A,BBFA26F1-B570-4CF2-A705-C1309C99FF57,BC72287D-E601-46E6-A0D8-F9A1386ABCFE,BCC0D412-5E06-4E40-957C-F88346EC8D65,BDB2B2D8-A026-45C9-8E88-E1303EAE783B,BE3C9720-AE0C-4C39-9E57-2A0DC98FB82F,BE5D46EF-089C-4A1A-81B6-FF7D58637DEC,BECF7A98-4A87-43A6-8659-6A95A42ABF52,BEE0070A-7EB6-4851-B764-0553AFA7D9AB,BF3CAA34-C7F9-468B-9F2B-92B83C5EC5F9,BF5F279E-D2D0-43ED-9DAC-AF2AFBC6A599,C06C6721-9D07-4307-9D0F-142FA6DD926D,C0CD2A1B-4FF6-4D6A-A986-9E2CADB06060,C1909701-B468-4146-8AD1-552C9B178B29,C1EF774A-69A5-458F-82FF-7529FC7676FE,C26DAF9E-82E5-49F1-99DA-2E32FF8AE6C0,C283ADDF-9F07-49D5-A452-4F6DA08EFFB5,C2E0D271-68F3-4C3F-970F-C7F66DF544FC,C30A40CE-3C37-4A47-804B-11765E783EFD,C3CD5D54-5757-4FEA-8B36-EA2E1AB91BE9,C3D0C4D3-3D19-49BE-A18C-72F7CD3C29D5,C4DEBC2E-48B1-4165-AF39-95FBCB145975,C56F4E32-C78A-4697-A9DC-AE54A1D4ACFD,C58BA6C8-442E-4844-AC11-FBFDDC36C67C,C590FDCB-08A8-4757-91FF-BE89BA08466E,C5D0F82F-A804-42DE-9C7D-EC240D7ACBB2,C6A655A6-E041-40B0-A191-D9D6EE4925E4,C7A075AF-98A3-4A71-8C96-DF97EEC2CE6A,C8199900-3FF6-435C-BBC7-915B8AB582B4,C83995B8-0550-4C7B-8DBD-E568F8D1CC53,C9279E31-3C40-4181-B855-76AD7ED9E318,C94E7380-63EC-46B1-BEED-FB1B2E7C730B,C98F542E-E312-4C29-8885-0925DD3B6AD9,C9B42E44-37C0-4123-AF82-A1D7FF5A9FCC,C9BA0398-C98F-440F-A4EF-3E3F0CC2AB6A,C9CCC939-8CB5-44E9-97F3-43197CAC7D2E,CA0166DF-E6C9-4599-A316-81A9C72C66D6,CA1C6403-C72E-4836-A69F-27A9A2C60DB8,CA4260B4-5839-43C4-B6E2-760BEE5686EF,CA4A358C-55F6-4831-B11E-4FA4697B8406,CBA12230-438E-407D-947A-30768A33A1C8,CBCCFBF1-1F18-4503-8118-8B4315E9C115,CC0A8B0E-4B76-4C2C-A33A-7526E6F075A5,CC1FC0E9-A664-4F2D-8727-05B487C26BEE,CC933286-26EB-4239-B240-FEDD0A781C99,CCC9D970-1D40-4D32-B512-F0745DE803F7,CCDFB681-A077-4D35-94BF-26ABFB322B1A,CCFF216D-AE11-4B5D-A792-DD10A34D48BE,CD049246-44C6-4AFF-B53E-ADF63729634B,CDAF1AEA-6BDA-4F86-AC6F-E061CAD39778,CF4032F3-0976-4B7B-ABA6-8CBF7E90AE65,D079503B-BAA1-4AD9-B8CA-74DA61F18564,D0E1C324-2CC9-4AC4-897A-F83BAFCF1F4D,D15CB909-0850-4733-9CF1-04DB1A60F75A,D1AF54DB-3C76-4BF5-BEB6-D9AD4947F41E,D26B955B-2A0C-4461-B3BE-A8C845FDC3B5,D29EBFBF-35B2-4336-9AD1-0EA7B30AD7E5,D2E023DD-FCB2-4079-B593-3151F3876D36,D3603D55-FFEA-44D9-9BB1-AB940708D358,D3ABAFD9-26E0-4440-9EE3-E4BFA9FDD5F8,D4713D4D-6660-41B7-82DA-6FA5F3138EC9,D4DF3432-6BAD-4118-B0E3-2FC497A9AF1C,D562ECEB-C977-465D-BD22-A64E0B43FA63,D5801D70-022D-4ED2-8299-3136EF55B4B9,D66373C8-1C43-41C4-B2B5-813FB2B28FDB,D83F5310-A780-42FA-94CF-111E4254B5A1,D8416D91-53CC-402A-B017-F3534D05A536,D8A2D761-ACFE-435B-8847-27D541AC1EE5,D8B20572-C0FA-452A-BAE0-FD5D42BC3A71,D93A783B-D5B5-4505-A062-772627F6CEA1,D9F674B2-A471-42A5-8049-0E4605721313,DADC62C0-835C-47C4-931E-F84F3E5C8B6C,DB3A45AC-5869-44CC-B4BF-5F17284896EB,DB816CEF-B934-46F2-AA2F-48A77DB28549,DBAE307A-5470-43F9-8EA8-AEF5E31A4C3E,DBBE77B6-4358-49D7-A924-D6E40CDE79F0,DC34B045-7D60-4451-BFBF-5BCA95530588,DC7947A5-E7D6-4EED-A37C-0DB483B670DD,DC970B20-BB89-47DB-9A64-07E58EB29392,DD8BFD44-3894-4651-80A1-A49810247A95,DDA4F561-BA64-4D72-8BAA-6581A7460DDC,DDB04A42-AD19-4F2F-9916-789ABEA88D05,DE0B3656-0B34-450C-9999-7525FBE9E377,DEE6A05B-E5FB-4024-9BA6-5F0218158AC8,DEF6B139-E5AE-447A-9A28-BEC7F2755DAE,DEFF69AC-B8F5-4E8B-A509-6D072100EDAC,DF2CA1C6-C825-4B57-A0EE-AFC3E8258393,DFBA1102-7AC4-4077-9857-170ADDBDAEB7,E06B6246-FF89-4C1E-B64E-66D72D95144C,E07A4367-21AE-41D3-8537-19299462204C,E0F33B53-B73D-48D8-9C15-88184C451737,E135DBF3-2C60-4B6A-A9BA-2AA2117DF3A9,E151A7F6-0846-4FEF-8DE2-289D83931697,E16EA43B-8D4E-4401-B5E4-92363ED24315,E1B1FA6F-F241-400B-9E60-39EC80C43399,E354DFDC-C696-4A87-A9F9-30D766222EF6,E380A32E-A5E0-4B6D-85BC-415055374449,E397C7C6-512D-4388-A053-33407DA6DF3C,E402654C-E808-42E0-B41A-90C936BF0A8B,E410FC3D-592A-487D-8748-200227D63B65,E4266FF5-3CC5-42BD-A506-B86BEF32F4D4,E445C9AA-FBAD-42A7-88A7-CCB23473C1C8,E4CB46FD-7109-4E4A-9E88-6A4843326B86,E4F177D3-5CBC-4C44-A90A-72A2A525991F,E55B8213-0CD7-4F97-94F4-2E279B94E983,E5A9B726-DC6A-4EF7-BB84-1C7915778462,E61DA3E6-B4BF-4157-85E0-21EF01AB2BA4,E64B61B8-682B-47BA-88F6-8420FAE14279,E67C5F8B-10DB-4427-9DC1-011807024DD6,E68700C1-F9AD-4536-B462-C8629ADFEC8C,E6EC76D8-D289-47B2-8BD6-765307880D3D,E6F68C4E-37BF-4033-9343-93049070AA24,E74D0EE5-66F4-4853-8E54-AF8581FE8199,E7559984-780E-4633-81CD-7CC0BDC8A62C,E7E671ED-A310-409E-9317-E63CF58A44F3,E851EA12-B1B9-44E1-B1F8-A95F87C6E3DA,E931FA96-F4D2-411C-AEA2-8A4B7CD99FEF,E933DB4D-A684-4A1D-92A5-00232769F948,E967668D-1CE4-426A-AA24-DCBD7CC0045D,E96AF2DC-5940-479B-AD94-ACA45BB3810D,E96FCB73-262D-4826-9369-65C451E3F5EB,E99211C8-D5D9-4EDE-9152-34933036C3A9,E9BCB4B1-B579-4E61-862C-A75BECE9D069,EA005754-27C6-4144-9697-C5A8CCDD26F2,EA00D6CB-149E-4123-850B-BE30B25F60CE,EA8597A7-DA89-4748-B078-EDAEEF23134E,EB966853-B5D1-466C-AED0-012E44CD377F,EBD995C9-9617-4AB7-B549-15CAADB38768,EBD9EE41-89EA-4AFE-94E9-9C3CD3AA3E88,EC5FE734-ECE2-4D4C-AD68-72A5C1925B3B,ECE97152-1520-4D5C-B0BE-8B9C1B0740DC,ED9CF55F-A4B8-4E3E-9189-339FF8C78D51,EDB9807A-C8E8-4213-8315-E4A8A369A4E5,EDF0F9BE-5DA1-4225-8C3D-573274622A25,EEF75CBE-A3B9-4C30-9136-1FBC2519F1C9,EF46EFC0-EB12-4224-9D0A-3509D649A41A,EF4C71A9-B97B-426F-87EC-C06984C11D16,EF97FE83-3635-4718-B554-2969912050AF,EF9AEA7E-5AE4-407D-BC78-0486BD13DE42,EF9C1FA2-5E55-4434-B5A2-738EEECA8E72,EFF7DA76-F235-4224-B58D-1A4C32CD1812,F0C5747B-A104-444D-B15A-9AA50EBF92EA,F0E28A98-D2AC-4791-8F0A-CA7338645623,F1BFD887-01E1-4DD7-8533-AC462543338F,F2824762-1695-4122-BAB7-4EB2D6DEF765,F2E15D96-90C7-4BD3-B57B-C253906A87A5,F30F7F62-2F83-4DFA-9C1B-1D41CA9C83EC,F3BCDFAD-4ED0-4CAA-86F2-BC2A1665098F,F4269DE3-EE36-478B-ABAE-BC11FBB5F78A,F562A871-1037-49D5-9D12-5B707B32063B,F5E79A7E-4AB0-4CDF-A86B-BA9C42E2D65B,F67BEC18-5964-48ED-A38F-A7836AEE7C8E,F85586E4-F39E-4ECA-A447-79729D8BC30E,F8B353B0-E35A-430F-92E7-9B68A426E394,F962804D-61C7-4FE3-9435-C881EC8D39B0,FA518540-FFE1-470A-AFEB-4ED85344B689,FAAC998F-5FF9-4C58-8614-A0214952C0F6,FAE139CF-91A1-48D1-BD10-6F870502B798,FBC47D1D-8E8C-4F9E-B783-294384389680,FEA680AA-6ABF-4BCA-8891-02CF6BA44F77,FEF93E16-B7EA-40D3-B19E-A119C7AF1606,FF0341E6-0EEB-434F-8E33-0644284C6B9D'

 --select items from dbo.SplitToTable(@Customer,',')

CREATE PROCEDURE [dbo].[BC_Customer_GRID_Aging]

@Tenantid bigint,
@AsOf DateTime,
@Customer Varchar(MAX),
@Nature Varchar(50),
@ServiceEntity Varchar(MAX),
@DocCurrency Varchar(MAX),
@Currency VARCHAR(100)

--@CreditLimit Varchar(50)
AS
Begin
--IF(@CreditLimit='All') 
--BEGIN 
--SET @CreditLimit='Not Exceeded,Exceeded';
--END
--Declare @Tenantid INT=1,@AsOf DateTime='2018-09-11',@Customer Varchar(MAX)='Axis pvt ltd',
--@Currency INT=0,@Nature Varchar(50)='Trade',@ServiceEntity Varchar(50)='MindTreePvtLtd'

--Declare @Tenantid INT=241,@AsOf DateTime=GetDate(),@Customer Varchar(MAX)='Asia Motar,Atlantic Building Products Pte Ltd,Prior Chemicals Pte Ltd',
--@Nature Varchar(50)='Trade,Others',@ServiceEntity Varchar(50)='SIL',@Currency Varchar(50)='Doc Currency'

--exec [dbo].[BC_Customer_GRID_Aging] 494,'2019-06-14','ID' ,'Trade,Others','Soft Tech,Sevaral tech','Doc Currency','Not Exceeded,Exceeded'
--exec [dbo].[BC_Customer_GRID_Aging] 494,'2019-06-14','02e5ad22-b9fb-4792-8862-197ae1f1e9da,3f16e3b7-9aea-4ce2-987c-385b0f254e12' ,'Trade,Others','495,645,657',NULL,'Base Currency'


Declare  @Customer_TBL Table (Customer uniqueidentifier)
Insert INTO @Customer_TBL 
select Distinct items from dbo.SplitToTable(@Customer,',')

Declare  @Nature_TBL Table (Nature NVarchar(200))
Insert INTO @Nature_TBL 
select Distinct items from dbo.SplitToTable(@Nature,',')

Declare  @ServEnt_TBL Table (ServEntity NVarchar(200))
Insert INTO @ServEnt_TBL 
select Distinct items from dbo.SplitToTable(@ServiceEntity,',')

Declare  @Transaction Table (DocumentId uniqueidentifier)
Insert INTO @Transaction 

select Distinct DocumentId from Bean.DocumentHistory(NoLock) where CompanyId=@Tenantid AND DocType='Debt Provision' 

Declare  @Transaction_DP Table (DocumentId uniqueidentifier)
Insert INTO @Transaction_DP 

Select Distinct DocumentId from Bean.DocumentHistory(NoLock) Where CompanyId=@Tenantid And DocType='Debt Provision' And DocSubType='Allocation'

--Select * From @Customer_TBL
--Select * From @Nature_TBL
--Select * From @ServEnt_TBL
--(Select Customer From  @Customer_TBL)
Set @AsOf = DATEADD(day, DATEDIFF(day, 0, @AsOf), '23:59:59') 

IF @Currency='Base Currency'--Base
BEGIN
	Select Name, ELimit, DocDate, DocNo, Currency, DocType, ShortName,Cast( SUM([Current]) as decimal(18,2)) [Current],CAST( Sum([1 to 30])as decimal(18,2)) [1 to 30]
		,cast(SUM([31 to 60])as decimal(18,2)) [31 to 60],cast (SUM([61 to 90])as decimal(18,2)) [61 to 90],CAST( SUM([91 to 120])as decimal(18,2)) [91 to 120],CAST( SUM([> 120])as decimal(18,2)) [> 120],DocumentId,CAST( ISNULL(BaseBalanceAmount,0)as decimal(18,2)) BaseBalanceAmount,CAST( ISNULL(DocBalanceAmount,0)as decimal(18,2)) DocBalanceAmount,
		ServiceCompanyId,DocSubType,DueDate,IsAddNote
	From
	(
		Select de.[Name], '' ELimit
		, JD.DocDate,j.DocNo,JD.DocCurrency AS Currency,j.DocType,com.ShortName,
		Case When (JD.DocType='Credit Note' And JD.DocSubType='Application') Then CNA.InvoiceId 
		     When (JD.DocType='Debt Provision' And JD.DocSubType='Allocation') Then DDA.InvoiceId Else JD.DocumentId End As DocumentId,
			 Case When J.DocType IN ('Credit Note') Then 
			SUM(ISNULL(K.BaseAppliedAmount,0))*(-1) Else SUM(ISNULL(K.BaseAppliedAmount,0)) End  'BaseBalanceAmount', Case When JD.DocType IN ('Credit Note') Then SUM(ISNULL(K.DocAppliedAmount,0))*(-1) Else SUM(ISNULL(K.DocAppliedAmount,0)) End DocBalanceAmount,
			case when DATEDIFF (day,J.DueDate,@AsOf ) <=0 then Case When J.DocType IN ('Credit Note') Then 
			SUM(ISNULL(K.BaseAppliedAmount,0))*(-1) Else SUM(ISNULL(K.BaseAppliedAmount,0)) End else 0 end as 'Current',
			case when DATEDIFF (day,J.DueDate,@AsOf )  between 1 and 30 then Case When J.DocType IN ('Credit Note') Then 
			SUM(ISNULL(K.BaseAppliedAmount,0))*(-1) Else SUM(ISNULL(K.BaseAppliedAmount,0)) End else 0 end as '1 to 30',
			case when DATEDIFF (day,J.DueDate,@AsOf ) between 31 and 60 then Case When J.DocType IN ('Credit Note') Then 
			SUM(ISNULL(K.BaseAppliedAmount,0))*(-1) Else SUM(ISNULL(K.BaseAppliedAmount,0)) End else 0 end as '31 to 60',
			case when DATEDIFF (day,J.DueDate,@AsOf ) between 61 and 90 then Case When J.DocType IN ('Credit Note') Then 
			SUM(ISNULL(K.BaseAppliedAmount,0))*(-1) Else SUM(ISNULL(K.BaseAppliedAmount,0)) End else 0 end as '61 to 90' ,
			case when DATEDIFF (day,J.DueDate,@AsOf ) between 91 and 120 then Case When J.DocType IN ('Credit Note') Then 
			SUM(ISNULL(K.BaseAppliedAmount,0))*(-1) Else SUM(ISNULL(K.BaseAppliedAmount,0)) End else 0 end as '91 to 120',
			case when DATEDIFF (day,J.DueDate,@AsOf ) >120 then Case When J.DocType IN ('Credit Note') Then 
			SUM(ISNULL(K.BaseAppliedAmount,0))*(-1) Else SUM(ISNULL(K.BaseAppliedAmount,0)) End else 0 end as '> 120',
			Jd.ServiceCompanyId,Jd.DocSubType,J.DueDate,J.IsAddNote AS IsAddNote

		From Bean.Journal(NoLock) J
		Join Bean.JournalDetail(NoLock) JD on  J.Id=JD.JournalId 
		Join @Nature_TBL As Ntr On Ntr.Nature=J.Nature
		Join Bean.Entity(NoLock) de on J.EntityId=de.Id
		Join @Customer_TBL As Cust On Cust.Customer=De.Id
		join Common.Company(NoLock) com on J.ServiceCompanyId=com.Id
		Join @ServEnt_TBL As Ser On Ser.ServEntity=com.Id
		Join Bean.ChartOfAccount(NoLock) as c on c.Id=JD.COAId
		Left Join Bean.CreditNoteApplication(NoLock) As CNA On CNA.Id=Jd.DocumentId
		Left Join Bean.DoubtfulDebtAllocation(NoLock) As DDA On DDA.Id=JD.DocumentId
		Inner Join
   (
     SELECT --RANK() OVER (PARTITION BY DocumentId  ORDER BY StateChangedDate DeSC) AS Rank,
	 Companyid,DocAppliedAmount,BaseAppliedAmount,TransactionId,
     DocumentId,DocState,PostingDate
     FROM Bean.DocumentHistory(NoLock)
     where  companyid =@Tenantid AND DocState is not null AND (AgingState <>'Deleted' OR AgingState IS NULL) AND PostingDate <= @AsOf 
	 And  TransactionId NOT IN (select DocumentId from @Transaction)
	 --And  TransactionId NOT IN (select DocumentId from Bean.DocumentHistory where CompanyId=@Tenantid AND DocType='Debt Provision' )
     
   ) as K on K.DocumentId = J.DocumentId 
   
   --K.TransactionId NOT IN (select id from Bean.DoubtfulDebtAllocation where CompanyId=@Tenantid)
		Where c.CompanyId=@Tenantid  AND K.PostingDate  <= @AsOf --P.PostingDate <= @AsOf --AND DE.IsCustomer=1
		 AND (JD.ClearingStatus <> ('Cleared') or JD.ClearingStatus IS NULL)
		 AND K.DocState in ('Partial Applied','Fully Applied','Not Applied','Not Paid','Partial Paid','Fully Paid')
		 AND  J.DocumentState Not in ('Void')
		 --AND J.DocumentState in ('Partial Applied','Not Applied','Not Paid','Partial Paid')
		-- AND J.DocumentState Not in ('Void', 'Fully Paid','Fully Allocated','Fully Applied','Cancelled','Parked','Reset','Recurring')
		 And JD.DocType in ('Invoice','Debit Note','Credit Note') --AND K.Rank=1
		 AND JD.DocumentDetailId='00000000-0000-0000-0000-000000000000'
			--AND J.Nature In (select Nature from @Nature_TBL)
			--AND com.ID in (select ServEntity from @ServEnt_TBL) 
			--AND de.ID in (Select Customer From  @Customer_TBL)--(select items from dbo.SplitToTable(@Customer,','))
		   --0 AND JD.BaseCurrency = @DocCurrency
		Group By  de.[Name],JD.DocDate,j.DocNo,JD.DocCurrency,J.DueDate, JD.DocType,JD.DocSubType, j.DocNo, JD.BaseCurrency, j.DocType, com.ShortName,JD.DocumentId,J.DocType,Jd.ServiceCompanyId,JD.DocSubType,J.DueDate,CNA.InvoiceId,DDA.InvoiceId,J.IsAddNote

		Union All

		Select de.[Name],''ELimit
		, I.DocDate,I.DocNo,I.DocCurrency AS Currency,I.DocType,com.ShortName,I.Id As DocumentId,Case When I.DocType IN ('Credit Note') Then 
			Sum(ISNULL(K.BaseAppliedAmount,0))*(-1) Else SUM(ISNULL(K.BaseAppliedAmount,0)) End  'BalanceAmount',Case When I.DocType IN ('Credit Note') Then 
			SUM(ISNULL(K.DocAppliedAmount,0))*(-1) Else SUM(ISNULL(K.DocAppliedAmount,0)) End DocBalanceAmount, 
			case when DATEDIFF (day,I.DueDate,@AsOf ) <=0 then Case When I.DocType IN ('Credit Note') Then 
			SUM(ISNULL(K.BaseAppliedAmount,0))*(-1) Else SUM(ISNULL(K.BaseAppliedAmount,0)) End else 0 end as 'Current',
			case when DATEDIFF (day,I.DueDate,@AsOf )  between 1 and 30 then Case When I.DocType IN ('Credit Note') Then 
			SUM(ISNULL(K.BaseAppliedAmount,0))*(-1) Else SUM(ISNULL(K.BaseAppliedAmount,0)) End else 0 end as '1 to 30',
			case when DATEDIFF (day,I.DueDate,@AsOf ) between 31 and 60 then Case When I.DocType IN ('Credit Note') Then 
			SUM(ISNULL(K.BaseAppliedAmount,0))*(-1) Else SUM(ISNULL(K.BaseAppliedAmount,0)) End else 0 end as '31 to 60',
			case when DATEDIFF (day,I.DueDate,@AsOf ) between 61 and 90 then Case When I.DocType IN ('Credit Note') Then 
			SUM(ISNULL(K.BaseAppliedAmount,0))*(-1) Else SUM(ISNULL(K.BaseAppliedAmount,0)) End else 0 end as '61 to 90' ,
			case when DATEDIFF (day,I.DueDate,@AsOf ) between 91 and 120 then Case When I.DocType IN ('Credit Note') Then 
			SUM(ISNULL(K.BaseAppliedAmount,0))*(-1) Else SUM(ISNULL(K.BaseAppliedAmount,0)) End else 0 end as '91 to 120',
			case when DATEDIFF (day,I.DueDate,@AsOf ) >120 then Case When I.DocType IN ('Credit Note') Then 
			SUM(ISNULL(K.BaseAppliedAmount,0))*(-1) Else SUM(ISNULL(K.BaseAppliedAmount,0)) End else 0 end as '> 120',
			I.ServiceCompanyId,I.DocSubType,I.DueDate, Case When COOO IS NULL then 0 Else 1 End  AS IsAddNote

		From Bean.Invoice(NoLock) I
        Inner Join Bean.InvoiceDetail(NoLock) ID ON ID.InvoiceId=I.Id
		Join @Nature_TBL As Ntr On Ntr.Nature=I.Nature
		Join Bean.Entity(NoLock) de on I.EntityId=de.Id
		Join @Customer_TBL As Cust On Cust.Customer=De.Id
		join Common.Company(NoLock) com on I.ServiceCompanyId=com.Id
		Join @ServEnt_TBL As Ser On Ser.ServEntity=com.Id
		Join Bean.ChartOfAccount(NoLock) as c on c.Id=ID.COAId
		--Inner Join Bean.JournalDetail JD ON JD.DocumentDetailId=I.Id
	Left Join 
 (
 Select Count(Id) AS COOO ,InvoiceId from Bean.InvoiceNote
 Group By InvoiceId
 ) As N ON N.InvoiceId=I.Id
		Inner Join
   (
     SELECT --RANK() OVER (PARTITION BY DocumentId  ORDER BY StateChangedDate DeSC) AS Rank,
	 Companyid,DocAppliedAmount,BaseAppliedAmount,TransactionId,
     DocumentId,DocState,PostingDate 
     FROM Bean.DocumentHistory(NoLock)
     where  companyid =@Tenantid AND DocState is not null AND (AgingState <>'Deleted' OR AgingState IS NULL) AND PostingDate <= @AsOf 
	 And  TransactionId NOT IN (select DocumentId from @Transaction)
	 --And TransactionId NOT IN (select DocumentId from Bean.DocumentHistory where CompanyId=@Tenantid AND DocType='Debt Provision' )
     
   ) as K on K.DocumentId = I.Id 
   --(K.TransactionId NOT IN (select id from Bean.DoubtfulDebtAllocation where CompanyId=@Tenantid))
		Where c.CompanyId=@Tenantid  
		AND K.PostingDate <= @AsOf --AND DE.IsCustomer=1
		 AND K.DocState in ('Partial Applied','Fully Applied','Not Applied','Not Paid','Partial Paid','Fully Paid')
		  AND I.DocumentState NOT in ('Void') 
		  --AND K.Rank=1
		 And I.DocType in ('Invoice','Credit Note') AND I.DocSubType IN ('Opening Bal') AND I.IsOBInvoice = 1 
		-- AND ID.DocumentDetailId='00000000-0000-0000-0000-000000000000'
			--AND I.Nature In (select Nature from @Nature_TBL)
			--AND com.ID in (select ServEntity from @ServEnt_TBL) 
			--AND de.ID in (Select Customer From  @Customer_TBL)--(select items from dbo.SplitToTable(@Customer,','))
		    --AND NULL = @DocCurrency

		Group By  de.[Name],  I.DocDate,I.DocNo,I.DocCurrency,I.DueDate, I.DocType, I.DocNo,I.ExCurrency,
		 I.DocType, com.ShortName,I.Id,I.DocType,I.ServiceCompanyId,I.DocSubType,I.DueDate,COOO


Union ALL


	Select de.[Name],
 '' ELimit
		, J.DocDate,Case when K.DocType='Invoice' Then ((Select Distinct I.DocNo 
		From Bean.Invoice(NoLock) I
		Inner Join Bean.DocumentHistory(NoLock) D ON D.TransactionId=I.Id
		Where D.DocumentId =K.TransactionId
		 ) + ' ('+(J.DocNo)+')' ) 
						When K.DocType='Debit Note' Then (Select Distinct I.DocNo 
						From Bean.Invoice(NoLock) I
						Inner Join Bean.DocumentHistory(NoLock) D ON D.TransactionId=I.Id
		                 Where D.DocumentId =K.TransactionId) +' ('+(J.DocNo)+')'
						Else J.Docno End Docno,J.DocCurrency AS Currency,/*j.DocType*/ 'Debt Provision' AS DocType ,com.ShortName,
		 Case  When (J.DocType='Debt Provision' And J.DocSubType='Allocation') Then DDA.InvoiceId Else J.DocumentId End As DocumentId/*J.DocumentId As DocumentId*/,Case When J.DocType IN ('Debt Provision') AND J.DocSubType IN('General') Then (SUM(ISNULL(K.BaseAppliedAmount,0)))*(-1) Else SUM(ISNULL(K.BaseAppliedAmount,0))*(-1) END AS BaseBalanceAmount,  
		 Case When J.DocType IN ('Debt Provision') AND J.DocSubType IN ('General') Then (SUM(ISNULL(K.DocAppliedAmount,0))) *(-1) Else SUM(ISNULL(K.DocAppliedAmount,0))*(-1) End AS DocBalanceAmount,
		 
		 case when DATEDIFF (day,J.DocDate,@AsOf ) <=0 then Case When J.DocType IN ('Debt Provision') AND J.DocSubType IN('General') Then 
			(SUM(ISNULL(K.BaseAppliedAmount,0)))*(-1) Else SUM(ISNULL(K.BaseAppliedAmount,0))*(-1) End else 0 end as 'Current',
			case when DATEDIFF (day,J.DocDate,@AsOf )  between 1 and 30 then Case When J.DocType IN ('Debt Provision') AND J.DocSubType IN('General') Then 
			(SUM(ISNULL(K.BaseAppliedAmount,0)))*(-1) Else SUM(ISNULL(K.BaseAppliedAmount,0))*(-1) End else 0 end as '1 to 30',
			case when DATEDIFF (day,J.DocDate,@AsOf ) between 31 and 60 then Case When J.DocType IN ('Debt Provision') AND J.DocSubType IN('General') Then 
			(SUM(ISNULL(K.BaseAppliedAmount,0)))*(-1) Else SUM(ISNULL(K.BaseAppliedAmount,0))*(-1) End else 0 end as '31 to 60',
			case when DATEDIFF (day,J.DocDate,@AsOf ) between 61 and 90 then Case When J.DocType IN ('Debt Provision') AND J.DocSubType IN('General') Then 
			(SUM(ISNULL(K.BaseAppliedAmount,0)))*(-1) Else SUM(ISNULL(K.BaseAppliedAmount,0))*(-1) End else 0 end as '61 to 90' ,
			case when DATEDIFF (day,J.DocDate,@AsOf ) between 91 and 120 then Case When J.DocType IN ('Debt Provision') AND J.DocSubType IN('General') Then 
			(SUM(ISNULL(K.BaseAppliedAmount,0)))*(-1) Else SUM(ISNULL(K.BaseAppliedAmount,0))*(-1) End else 0 end as '91 to 120',
			case when DATEDIFF (day,J.DocDate,@AsOf ) >120 then Case When J.DocType IN ('Debt Provision') AND J.DocSubType IN('General') Then 
			(SUM(ISNULL(K.BaseAppliedAmount,0)))*(-1) Else SUM(ISNULL(K.BaseAppliedAmount,0))*(-1) End else 0 end as '> 120',
			J.ServiceCompanyId,J.DocSubType,J.PostingDate DueDate,NULL AS IsAddNote
			from Bean.Journal(NoLock) J
		Join Bean.Entity(NoLock) de on J.EntityId=de.Id
		Join @Customer_TBL As Cust On Cust.Customer=De.Id
		Join @Nature_TBL As Ntr On Ntr.Nature=J.Nature
		join Common.Company(NoLock) com on J.ServiceCompanyId=com.Id
		Join @ServEnt_TBL As Ser On Ser.ServEntity=com.Id
		Inner Join
   (
     SELECT Id,TransactionId,CompanyId,DocumentId,DocType,DocSubType,DocState,DocCurrency,DocAmount,DocBalanaceAmount,
	 ExchangeRate,BaseAmount,BaseBalanaceAmount,StateChangedBy,StateChangedDate,Remarks,PostingDate,DocAppliedAmount,
	 BaseAppliedAmount,AgingState   FROM Bean.DocumentHistory(NoLock)
     where  companyid =@Tenantid AND DocState is not null AND (AgingState <>'Deleted' OR AgingState IS NULL) AND PostingDate <= @AsOf
	 AND DocType IN ('Debit Note','Invoice')  --And DocType='Debt Provision'
		 And TransactionId IN (select DocumentId from @Transaction_DP)
		 
		 --(Select DocumentId from Bean.DocumentHistory Where CompanyId=@Tenantid And DocType='Debt Provision' And DocSubType='Allocation') 
     
   ) as K on K.DocumentId =J.DocumentId --And J.DocType='Debt Provision'--(K.TransactionId=(select id from Bean.Invoice where CompanyId=2416 and DocType='Debt Provision'))
   Left Join Bean.DoubtfulDebtAllocation As DDA On DDA.Id=J.DocumentId
    Where  K.DocState Not in ('Void') AND J.companyid =@Tenantid AND K.PostingDate  <= @AsOf 
		 And J.DocType in ('Debt Provision','Invoice','Debit Note') 
		 AND  J.DocumentState Not in ('Void')
		  --AND J.Nature In (select Nature from @Nature_TBL)
			--AND com.ID in (select ServEntity from @ServEnt_TBL) 
			--AND de.ID in (Select Customer From  @Customer_TBL)--(select items from dbo.SplitToTable(@Customer,','))
		Group By de.[Name],J.DocDate,j.DocNo,K.DocType,K.DocumentId,
		J.DocCurrency,J.PostingDate,J.DocSubType,j.DocType,com.ShortName,J.DocumentId,J.ServiceCompanyId,J.DueDate,K.TransactionId,DDA.InvoiceId


		 --) As A
		 --Group By DocNo

Union All
---------------------------------------------------------------------------------------------------------------------------------------------
	Select de.[Name],''ELimit
		, I.DocDate,Case when K.DocType='Invoice' Then ((Select Distinct I.DocNo 
		From Bean.Invoice(NoLock) I
		Inner Join Bean.DocumentHistory(NoLock) D ON D.TransactionId=I.Id
		Where D.DocumentId =K.TransactionId
		 ) + ' ('+(I.DocNo)+')' ) 
		 Else I.DocNo End Docno,I.DocCurrency AS Currency,/*I.DocType*/ 'Debt Provision' AS DocType,com.ShortName,I.Id As DocumentId,
			Sum(ISNULL(K.BaseAppliedAmount,0))*(-1) 'BalanceAmount', 
			SUM(ISNULL(K.DocAppliedAmount,0))*(-1)  DocBalanceAmount, 
			case when DATEDIFF (day,I.DueDate,@AsOf ) <=0 then  
			SUM(ISNULL(K.BaseAppliedAmount,0))*(-1)  else 0 end as 'Current',
			case when DATEDIFF (day,I.DueDate,@AsOf )  between 1 and 30 then 
			SUM(ISNULL(K.BaseAppliedAmount,0))*(-1)  else 0 end as '1 to 30',
			case when DATEDIFF (day,I.DueDate,@AsOf ) between 31 and 60 then 
			SUM(ISNULL(K.BaseAppliedAmount,0))*(-1)  else 0 end as '31 to 60',
			case when DATEDIFF (day,I.DueDate,@AsOf ) between 61 and 90 then 
			SUM(ISNULL(K.BaseAppliedAmount,0))*(-1)  else 0 end as '61 to 90' ,
			case when DATEDIFF (day,I.DueDate,@AsOf ) between 91 and 120 then 
			SUM(ISNULL(K.BaseAppliedAmount,0))*(-1) else 0 end as '91 to 120',
			case when DATEDIFF (day,I.DueDate,@AsOf ) >120 then 
			SUM(ISNULL(K.BaseAppliedAmount,0))*(-1)  else 0 end as '> 120',
			I.ServiceCompanyId,I.DocSubType,I.DueDate, NULL AS IsAddNote
			
		From Bean.Invoice(NoLock) I
        Inner Join Bean.InvoiceDetail(NoLock) ID ON ID.InvoiceId=I.Id
		Join Bean.Entity(NoLock) de on I.EntityId=de.Id
		Join @Customer_TBL As Cust On Cust.Customer=De.Id
		join Common.Company(NoLock) com on I.ServiceCompanyId=com.Id
		Join @ServEnt_TBL As Ser On Ser.ServEntity=com.Id
		Join @Nature_TBL As Ntr On Ntr.Nature=I.Nature
		Join Bean.ChartOfAccount(NoLock) as c on c.Id=ID.COAId
		--Inner Join Bean.JournalDetail JD ON JD.DocumentDetailId=I.Id
		Inner Join
   (
     SELECT Id,TransactionId,CompanyId,DocumentId,DocType,DocSubType,DocState,DocCurrency,DocAmount,DocBalanaceAmount,	 ExchangeRate,BaseAmount,BaseBalanaceAmount,StateChangedBy,StateChangedDate,Remarks,PostingDate,DocAppliedAmount,BaseAppliedAmount,
		AgingState
     FROM Bean.DocumentHistory(NoLock)
     where  companyid =@Tenantid AND DocState is not null AND (AgingState <>'Deleted' OR AgingState IS NULL) AND PostingDate <= @AsOf
	 AND DocType IN ('Debit Note','Invoice')  --And DocType='Debt Provision'
		 And TransactionId IN (select DocumentId from @Transaction_DP)
		 
		-- (Select DocumentId from Bean.DocumentHistory Where CompanyId=@Tenantid And DocType='Debt Provision' And DocSubType='Allocation') 
     
   ) as K on K.DocumentId = I.Id 
   --And  K.TransactionId NOT IN (select DocumentId from Bean.DocumentHistory where CompanyId=@Tenantid AND DocType='Debt Provision' )
   --(K.TransactionId NOT IN (select id from Bean.DoubtfulDebtAllocation where CompanyId=@Tenantid))
		
		 Where  K.DocState Not in ('Void') AND I.companyid =@Tenantid AND K.PostingDate  <= @AsOf 
		-- And J.DocType in ('Debt Provision','Invoice','Debit Note') 
		 AND  I.DocumentState Not in ('Void')
		  --AND K.Rank=1
		 And I.DocType in ('Debt Provision','Invoice') AND I.DocSubType IN ('Opening Bal') AND I.IsOBInvoice = 1 
		 --AND ID.DocumentDetailId='00000000-0000-0000-0000-000000000000'
			--AND I.Nature In (select Nature from @Nature_TBL)
			--AND com.ID in (select ServEntity from @ServEnt_TBL) 
			--AND de.ID in (Select Customer From  @Customer_TBL)--(select items from dbo.SplitToTable(@Customer,','))
		    --AND NULL = @DocCurrency

		Group By  de.[Name],  I.DocDate,I.DocNo,I.DocCurrency,I.DueDate, I.DocType, I.DocNo,I.ExCurrency,
		 I.DocType, com.ShortName,I.Id,I.DocType,I.ServiceCompanyId,I.DocSubType,I.DueDate,K.TransactionId,K.DocType

UNION ALL
------------------------------------------------------------------------------------------------------------------
			Select de.[Name],
 '' ELimit
		, J.DocDate,Case when K.DocType='Invoice' Then (J.DocNo + ' ('+ (Select DocNo From Bean.Invoice(NoLock) Where Id =K.DocumentId )   +')' ) 
						When K.DocType='Debit Note' Then J.DocNo +' ('+(Select DocNo From Bean.DebitNote(NoLock) Where Id =K.DocumentId) +')'
						Else J.Docno End Docno,J.DocCurrency AS Currency,j.DocType,com.ShortName,
						Case  When (J.DocType='Debt Provision' And J.DocSubType='Allocation') Then DDA.InvoiceId Else J.DocumentId End As DocumentId
		 /*J.DocumentId As DocumentId*/,Case When J.DocType IN ('Debt Provision') AND J.DocSubType IN('General') Then (SUM(ISNULL(K.BaseAppliedAmount,0)))*(-1) Else SUM(ISNULL(K.BaseAppliedAmount,0)) END AS BaseBalanceAmount,  
		 Case When J.DocType IN ('Debt Provision') AND J.DocSubType IN ('General') Then (SUM(ISNULL(K.DocAppliedAmount,0))) *(-1) Else SUM(ISNULL(K.DocAppliedAmount,0)) End AS DocBalanceAmount,
		 
		 case when DATEDIFF (day,J.DocDate,@AsOf ) <=0 then Case When J.DocType IN ('Debt Provision') AND J.DocSubType IN('General') Then 
			(SUM(ISNULL(K.BaseAppliedAmount,0)))*(-1) Else SUM(ISNULL(K.BaseAppliedAmount,0)) End else 0 end as 'Current',
			case when DATEDIFF (day,J.DocDate,@AsOf )  between 1 and 30 then Case When J.DocType IN ('Debt Provision') AND J.DocSubType IN('General') Then 
			(SUM(ISNULL(K.BaseAppliedAmount,0)))*(-1) Else SUM(ISNULL(K.BaseAppliedAmount,0)) End else 0 end as '1 to 30',
			case when DATEDIFF (day,J.DocDate,@AsOf ) between 31 and 60 then Case When J.DocType IN ('Debt Provision') AND J.DocSubType IN('General') Then 
			(SUM(ISNULL(K.BaseAppliedAmount,0)))*(-1) Else SUM(ISNULL(K.BaseAppliedAmount,0)) End else 0 end as '31 to 60',
			case when DATEDIFF (day,J.DocDate,@AsOf ) between 61 and 90 then Case When J.DocType IN ('Debt Provision') AND J.DocSubType IN('General') Then 
			(SUM(ISNULL(K.BaseAppliedAmount,0)))*(-1) Else SUM(ISNULL(K.BaseAppliedAmount,0)) End else 0 end as '61 to 90' ,
			case when DATEDIFF (day,J.DocDate,@AsOf ) between 91 and 120 then Case When J.DocType IN ('Debt Provision') AND J.DocSubType IN('General') Then 
			(SUM(ISNULL(K.BaseAppliedAmount,0)))*(-1) Else SUM(ISNULL(K.BaseAppliedAmount,0)) End else 0 end as '91 to 120',
			case when DATEDIFF (day,J.DocDate,@AsOf ) >120 then Case When J.DocType IN ('Debt Provision') AND J.DocSubType IN('General') Then 
			(SUM(ISNULL(K.BaseAppliedAmount,0)))*(-1) Else SUM(ISNULL(K.BaseAppliedAmount,0)) End else 0 end as '> 120',
			J.ServiceCompanyId,J.DocSubType,J.PostingDate DueDate, NULL AS IsAddNote
			from Bean.Journal(NoLock) J
		Join Bean.Entity(NoLock) de on J.EntityId=de.Id
		Join @Customer_TBL As Cust On Cust.Customer=De.Id
		Join @Nature_TBL As Ntr On Ntr.Nature=J.Nature
		join Common.Company(NoLock) com on J.ServiceCompanyId=com.Id
		Join @ServEnt_TBL As Ser On Ser.ServEntity=com.Id
		Inner Join
   (
     SELECT Id,TransactionId,CompanyId,DocumentId,DocType,DocSubType,DocState,DocCurrency,DocAmount,DocBalanaceAmount,ExchangeRate,BaseAmount,
	 BaseBalanaceAmount,StateChangedBy,StateChangedDate,Remarks,PostingDate,DocAppliedAmount,BaseAppliedAmount,AgingState
     FROM Bean.DocumentHistory(NoLock)
     where  companyid =@Tenantid AND DocState is not null AND (AgingState <>'Deleted' OR AgingState IS NULL) AND PostingDate <= @AsOf
	 --AND DocType IN ('Debit Note','Invoice')  --And DocType='Debt Provision'
		-- And TransactionId IN (Select DocumentId from Bean.DocumentHistory Where CompanyId=@Tenantid And DocType='Debt Provision' And DocSubType='Allocation') 
     
   ) as K on K.DocumentId =J.DocumentId And J.DocType='Debt Provision'--(K.TransactionId=(select id from Bean.Invoice where CompanyId=2416 and DocType='Debt Provision'))
   Left Join Bean.DoubtfulDebtAllocation(NoLock) As DDA On DDA.Id=J.DocumentId
    Where  K.DocState Not in ('Void') AND J.companyid =@Tenantid AND K.PostingDate  <= @AsOf 
		 And J.DocType in ('Debt Provision')  AND J.DocSubType NOT in ('Allocation')
		 AND  J.DocumentState Not in ('Void')
		  --AND J.Nature In (select Nature from @Nature_TBL)
			--AND com.ID in (select ServEntity from @ServEnt_TBL) 
			--AND de.ID in (Select Customer From  @Customer_TBL)--(select items from dbo.SplitToTable(@Customer,','))
		Group By de.[Name],J.DocDate,j.DocNo,K.DocType,K.DocumentId,
		J.DocCurrency,J.PostingDate,J.DocSubType,j.DocType,com.ShortName,J.DocumentId,J.ServiceCompanyId,J.DueDate,DDA.InvoiceId
		  

	) AS a
	--Where Case When ELimit='' then 'Not Exceeded' ELSE  'Exceeded' End in (select items from dbo.SplitToTable(@CreditLimit,','))
	WHERE ISNULL(BaseBalanceAmount,0) <>0 AND ISNULL(DocBalanceAmount,0) <>0
	Group By Name,DocDate,DocNo,Currency,DocType,ShortName,ELimit,DocumentId,BaseBalanceAmount,DocBalanceAmount,ServiceCompanyId,DocSubType,DueDate,IsAddNote
	ORDER BY Name,DocDate
End

Else


IF @Currency='Doc Currency'--Doc
BEGIN
	Select Name, ELimit,DocDate, DocNo, Currency, DocType, ShortName, Cast( SUM([Current]) as decimal(18,2)) [Current], Cast(Sum([1 to 30])as decimal(18,2))  [1 to 30]
		,Cast(SUM([31 to 60])as decimal(18,2)) [31 to 60],Cast(SUM([61 to 90])as decimal(18,2)) [61 to 90],Cast(SUM([91 to 120])as decimal(18,2)) 
		[91 to 120],Cast(SUM([> 120])as decimal(18,2)) [> 120],DocumentId,Cast(ISNULL(BaseBalanceAmount,0)as decimal(18,2)) BaseBalanceAmount,Cast(ISNULL(DocBalanceAmount,0)as decimal(18,2)) DocBalanceAmount,ServiceCompanyId,DocSubType,DueDate,IsAddNote
	From
	(
		Select de.[Name], '' ELimit, JD.DocDate,j.DocNo,JD.DocCurrency AS Currency,j.DocType,com.ShortName,
			Case When (JD.DocType='Credit Note' And JD.DocSubType='Application') Then CNA.InvoiceId 
				When (JD.DocType='Debt Provision' And JD.DocSubType='Allocation') Then DDA.InvoiceId Else JD.DocumentId End As DocumentId,
			Case When JD.DocType IN ('Credit Note') Then 
			SUM(ISNULL(K.DocAppliedAmount,0))*(-1) Else SUM(ISNULL(K.DocAppliedAmount,0)) End DocBalanceAmount,Case When J.DocType IN ('Credit Note') Then 
			SUM(ISNULL(K.BaseAppliedAmount,0))*(-1) Else SUM(ISNULL(K.BaseAppliedAmount,0)) End  'BaseBalanceAmount',
			case when DATEDIFF (day,J.DueDate,@AsOf ) <=0 then Case When JD.DocType IN ('Credit Note') Then 
			SUM(ISNULL(K.DocAppliedAmount,0))*(-1) Else SUM(ISNULL(K.DocAppliedAmount,0)) End else 0 end as 'Current',
			case when DATEDIFF (day,J.DueDate,@AsOf )  between 1 and 30 then Case When J.DocType IN ('Credit Note') Then 
			SUM(ISNULL(K.DocAppliedAmount,0))*(-1) Else SUM(ISNULL(K.DocAppliedAmount,0)) End else 0 end as '1 to 30',
			case when DATEDIFF (day,J.DueDate,@AsOf ) between 31 and 60 then Case When J.DocType IN ('Credit Note') Then 
			SUM(ISNULL(K.DocAppliedAmount,0))*(-1) Else SUM(ISNULL(K.DocAppliedAmount,0)) End else 0 end as '31 to 60',
			case when DATEDIFF (day,J.DueDate,@AsOf ) between 61 and 90 then Case When J.DocType IN ('Credit Note') Then 
			SUM(ISNULL(K.DocAppliedAmount,0))*(-1) Else SUM(ISNULL(K.DocAppliedAmount,0)) End else 0 end as '61 to 90' ,
			case when DATEDIFF (day,J.DueDate,@AsOf ) between 91 and 120 then Case When J.DocType IN ('Credit Note') Then 
			SUM(ISNULL(K.DocAppliedAmount,0))*(-1) Else SUM(ISNULL(K.DocAppliedAmount,0)) End else 0 end as '91 to 120',
			case when DATEDIFF (day,J.DueDate,@AsOf ) >120 then Case When J.DocType IN ('Credit Note') Then 
			SUM(ISNULL(K.DocAppliedAmount,0))*(-1) Else SUM(ISNULL(K.DocAppliedAmount,0)) End else 0 end as '> 120',JD.ServiceCompanyId,Jd.DocSubType,J.DueDate,J.IsAddNote AS IsAddNote
		From Bean.Journal(NoLock) J
		Join Bean.JournalDetail(NoLock) JD on  J.Id=JD.JournalId 
		Join @Nature_TBL As Ntr On Ntr.Nature=J.Nature
		Join Bean.Entity(NoLock) de on J.EntityId=de.Id
		Join @Customer_TBL As Cust On Cust.Customer=De.Id
		join Common.Company(NoLock) com on J.ServiceCompanyId=com.Id
		Join @ServEnt_TBL As Ser On Ser.ServEntity=com.Id
		Join Bean.ChartOfAccount(NoLock) as c on c.Id=JD.COAId
		/*Join 
		(
			Select BE.ID, BE.Name, -- ISNull(BE.CustCreditLimit,0),Sum(ISNull( JD.BaseDebit,0)),
				Case When ISNull(BE.CustCreditLimit,0)>=Sum(ISNull( JD.BaseDebit,0)) Then '' ELSE  'E'  END AS ELimit
			From Bean.Entity BE
			Join Bean.JournalDetail JD on JD.EntityId=BE.Id
			Join bean.Journal J On J.Id=JD.JournalId  AND JD.PostingDate <= @AsOf 
			Where    J.DocumentState in ('Partial Applied','Not Applied','Not Paid','Partial Paid')
			Group By BE.ID, BE.Name, BE.CustCreditLimit
		) As EL On DE.Id=EL.Id*/
		Left Join Bean.CreditNoteApplication(NoLock) As CNA On CNA.Id=JD.DocumentId
		Left Join Bean.DoubtfulDebtAllocation(NoLock) As DDA On DDA.Id=JD.DocumentId
		Inner Join
   (
     SELECT --RANK() OVER (PARTITION BY DocumentId  ORDER BY StateChangedDate DeSC) AS Rank,
	 Companyid,DocAppliedAmount,BaseAppliedAmount,TransactionId,
     DocumentId,DocState,PostingDate 
     FROM Bean.DocumentHistory(NoLock)
     where  companyid =@Tenantid AND DocState is not null AND (AgingState <>'Deleted' OR AgingState IS NULL) AND PostingDate <= @AsOf And  TransactionId NOT IN (select DocumentId from @Transaction)
	 --And  TransactionId NOT IN (select DocumentId from Bean.DocumentHistory where CompanyId=@Tenantid AND DocType='Debt Provision' )
     
   ) as K on K.DocumentId =J.DocumentId 
  -- (K.TransactionId NOT IN (select id from Bean.DoubtfulDebtAllocation where CompanyId=@Tenantid ))
		Where c.CompanyId=@Tenantid  AND K.PostingDate <= @AsOf --AND DE.IsCustomer=1
		AND K.DocState in ('Partial Applied','Fully Applied','Not Applied','Not Paid','Partial Paid','Fully Paid')
		 AND J.DocumentState NOT in ('Void')
		And JD.DocType in ('Invoice','Debit Note','Receipt','Cash Sale','Debt Provision','Credit Note')
		 AND JD.DocumentDetailId='00000000-0000-0000-0000-000000000000' --AND K.Rank=1
		 AND (JD.ClearingStatus <> ('Cleared') or JD.ClearingStatus IS NULL)
			--AND J.Nature In (select Nature from @Nature_TBL)
			--AND com.ID in (select ServEntity from @ServEnt_TBL) 
			--AND de.ID in (Select Customer From  @Customer_TBL)--(select items from dbo.SplitToTable(@Customer,','))
			AND JD.DocCurrency in (select items from dbo.SplitToTable(@DocCurrency,','))
		
		Group By  de.[Name],  JD.DocDate,j.DocNo,JD.DocCurrency,J.DueDate, JD.DocType,j.DocNo, JD.BaseCurrency, j.DocType, com.ShortName,Jd.DocumentId,J.DocType,Jd.ServiceCompanyId,JD.DocSubType,J.DueDate,J.ExchangeRate,CNA.InvoiceId,DDA.InvoiceId,J.IsAddNote
		
		Union All
		
		Select de.[Name], '' ELimit, I.DocDate,I.DocNo,I.DocCurrency AS Currency,I.DocType,com.ShortName,I.Id As DocumentId,Case When I.DocType IN ('Credit Note') Then 
			SUM(ISNULL(K.DocAppliedAmount,0))*(-1) Else SUM(ISNULL(K.DocAppliedAmount,0)) End DocBalanceAmount,Case When I.DocType IN ('Credit Note') Then 
			SUM(ISNULL(K.BaseAppliedAmount,0))*(-1) Else SUM(ISNULL(K.BaseAppliedAmount,0)) End  'BaseBalanceAmount',
			case when DATEDIFF (day,I.DueDate,@AsOf ) <=0 then Case When I.DocType IN ('Credit Note') Then 
			SUM(ISNULL(K.DocAppliedAmount,0))*(-1) Else SUM(ISNULL(K.DocAppliedAmount,0)) End else 0 end as 'Current',
			case when DATEDIFF (day,I.DueDate,@AsOf )  between 1 and 30 then Case When I.DocType IN ('Credit Note') Then 
			SUM(ISNULL(K.DocAppliedAmount,0))*(-1) Else SUM(ISNULL(K.DocAppliedAmount,0)) End else 0 end as '1 to 30',
			case when DATEDIFF (day,I.DueDate,@AsOf ) between 31 and 60 then Case When I.DocType IN ('Credit Note') Then 
			SUM(ISNULL(K.DocAppliedAmount,0))*(-1) Else SUM(ISNULL(K.DocAppliedAmount,0)) End else 0 end as '31 to 60',
			case when DATEDIFF (day,I.DueDate,@AsOf ) between 61 and 90 then Case When I.DocType IN ('Credit Note') Then 
			SUM(ISNULL(K.DocAppliedAmount,0))*(-1) Else SUM(ISNULL(K.DocAppliedAmount,0)) End else 0 end as '61 to 90' ,
			case when DATEDIFF (day,I.DueDate,@AsOf ) between 91 and 120 then Case When I.DocType IN ('Credit Note') Then 
			SUM(ISNULL(K.DocAppliedAmount,0))*(-1) Else SUM(ISNULL(K.DocAppliedAmount,0)) End else 0 end as '91 to 120',
			case when DATEDIFF (day,I.DueDate,@AsOf ) >120 then Case When I.DocType IN ('Credit Note') Then 
			SUM(ISNULL(K.DocAppliedAmount,0))*(-1) Else SUM(ISNULL(K.DocAppliedAmount,0)) End else 0 end as '> 120',I.ServiceCompanyId,I.DocSubType,I.DueDate,Case When COOO IS NULL then 0 Else 1 End AS IsAddNote
			From Bean.Invoice(NoLock) I
        Inner Join Bean.InvoiceDetail(NoLock) ID ON ID.InvoiceId=I.Id
		Join @Nature_TBL As Ntr On Ntr.Nature=I.Nature
		Join Bean.Entity(NoLock) de on I.EntityId=de.Id
		Join @Customer_TBL As Cust On Cust.Customer=De.Id
		join Common.Company(NoLock) com on I.ServiceCompanyId=com.Id
		Join @ServEnt_TBL As Ser On Ser.ServEntity=com.Id

		Join Bean.ChartOfAccount(NoLock) as c on c.Id=ID.COAId
		--Inner Join Bean.JournalDetail JD ON JD.DocumentDetailId=I.Id
				Left Join 
 (
 Select Count(Id) AS COOO ,InvoiceId from Bean.InvoiceNote
 Group By InvoiceId
 ) As N ON N.InvoiceId=I.Id
		Inner Join
   (
     SELECT --RANK() OVER (PARTITION BY DocumentId  ORDER BY StateChangedDate DeSC) AS Rank,
	 Companyid,DocAppliedAmount,BaseAppliedAmount,TransactionId,
     DocumentId,DocState,PostingDate 
     FROM Bean.DocumentHistory(NoLock)
     where  companyid =@Tenantid AND DocState is not null AND (AgingState <>'Deleted' OR AgingState IS NULL) AND PostingDate <= @AsOf And  TransactionId NOT IN (select DocumentId from @Transaction)
	 
	 -- And  TransactionId NOT IN (select DocumentId from Bean.DocumentHistory where CompanyId=@Tenantid AND DocType='Debt Provision' )
     
   ) as K on K.DocumentId = I.Id 
   --(K.TransactionId NOT IN (select id from Bean.DoubtfulDebtAllocation where CompanyId=@Tenantid))
		Where c.CompanyId=@Tenantid  AND K.PostingDate <= @AsOf --AND DE.IsCustomer=1
		AND K.DocState in ('Partial Applied','Fully Applied','Not Applied','Not Paid','Partial Paid','Fully Paid')
		AND I.DocumentState NOT in ('Void') 
		-- AND K.Rank=1
		And I.DocType in ('Invoice','Credit Note') AND I.DocSubType IN ('Opening Bal') AND I.IsOBInvoice = 1 
		 --AND ID.DocumentDetailId='00000000-0000-0000-0000-000000000000'
		 --AND (ID.ClearingStatus <> ('Cleared') or ID.ClearingStatus IS NULL)
			--AND I.Nature In (select items from dbo.SplitToTable(@Nature,','))
			--AND com.ID in (select items from dbo.SplitToTable(@ServiceEntity,',')) 
			--AND de.ID in (Select Customer From  @Customer_TBL)--(select items from dbo.SplitToTable(@Customer,','))
		    AND I.DocCurrency in (select items from dbo.SplitToTable(@DocCurrency,','))

		Group By  de.[Name], I.DocDate,I.DocNo,I.DocCurrency,I.DueDate, I.DocType, I.DocNo, I.ExCurrency, I.DocType, com.ShortName,I.Id,
		I.DocType,I.ServiceCompanyId,I.DocSubType,I.DueDate,COOO

		Union All
	
	Select de.[Name],
 '' ELimit
		, J.DocDate,Case when K.DocType='Invoice' Then ((Select Distinct I.DocNo 
		From Bean.Invoice(NoLock) I
		Inner Join Bean.DocumentHistory(NoLock) D ON D.TransactionId=I.Id
		Where D.DocumentId =K.TransactionId
		 ) + ' ('+(J.DocNo)+')' ) 
						When K.DocType='Debit Note' Then (Select Distinct I.DocNo 
						From Bean.Invoice(NoLock) I
						Inner Join Bean.DocumentHistory(NoLock) D ON D.TransactionId=I.Id
		                 Where D.DocumentId =K.TransactionId) +' ('+(J.DocNo)+')'
						Else J.Docno End Docno,J.DocCurrency AS Currency,/*J.DocType*/ 'Debt Provision' AS DocType,com.ShortName,
						Case When (J.DocType='Debt Provision' And J.DocSubType='Allocation') Then DDA.InvoiceId Else J.DocumentId End As DocumentId
		 /*J.DocumentId As DocumentId*/, 
		 Case When J.DocType IN ('Debt Provision') AND J.DocSubType IN ('General') Then (SUM(ISNULL(K.DocAppliedAmount,0))) *(-1) Else SUM(ISNULL(K.DocAppliedAmount,0))*(-1) End AS DocBalanceAmount,
		 Case When J.DocType IN ('Debt Provision') AND J.DocSubType IN('General') Then (SUM(ISNULL(K.BaseAppliedAmount,0)))*(-1) Else SUM(ISNULL(K.BaseAppliedAmount,0))*(-1) END AS BaseBalanceAmount, 
		 case when DATEDIFF (day,J.DocDate,@AsOf ) <=0 then Case When J.DocType IN ('Debt Provision') AND J.DocSubType IN('General') Then 
			(SUM(ISNULL(K.DocAppliedAmount,0)))*(-1) Else SUM(ISNULL(K.DocAppliedAmount,0))*(-1) End else 0 end as 'Current',
			case when DATEDIFF (day,J.DocDate,@AsOf )  between 1 and 30 then Case When J.DocType IN ('Debt Provision') AND J.DocSubType IN('General') Then 
			(SUM(ISNULL(K.DocAppliedAmount,0)))*(-1) Else SUM(ISNULL(K.DocAppliedAmount,0))*(-1) End else 0 end as '1 to 30',
			case when DATEDIFF (day,J.DocDate,@AsOf ) between 31 and 60 then Case When J.DocType IN ('Debt Provision') AND J.DocSubType IN('General') Then 
			(SUM(ISNULL(K.DocAppliedAmount,0)))*(-1) Else SUM(ISNULL(K.DocAppliedAmount,0))*(-1) End else 0 end as '31 to 60',
			case when DATEDIFF (day,J.DocDate,@AsOf ) between 61 and 90 then Case When J.DocType IN ('Debt Provision') AND J.DocSubType IN('General') Then 
			(SUM(ISNULL(K.DocAppliedAmount,0)))*(-1) Else SUM(ISNULL(K.DocAppliedAmount,0))*(-1) End else 0 end as '61 to 90' ,
			case when DATEDIFF (day,J.DocDate,@AsOf ) between 91 and 120 then Case When J.DocType IN ('Debt Provision') AND J.DocSubType IN('General') Then 
			(SUM(ISNULL(K.DocAppliedAmount,0)))*(-1) Else SUM(ISNULL(K.DocAppliedAmount,0))*(-1) End else 0 end as '91 to 120',
			case when DATEDIFF (day,J.DocDate,@AsOf ) >120 then Case When J.DocType IN ('Debt Provision') AND J.DocSubType IN('General') Then 
			(SUM(ISNULL(K.DocAppliedAmount,0)))*(-1) Else SUM(ISNULL(K.DocAppliedAmount,0))*(-1) End else 0 end as '> 120',
			J.ServiceCompanyId,J.DocSubType,J.PostingDate DueDate,NULL AS IsAddNote
			from Bean.Journal(NoLock) J
		Join Bean.Entity(NoLock) de on J.EntityId=de.Id
		Join @Customer_TBL As Cust On Cust.Customer=De.Id
		Join @Nature_TBL As Ntr On Ntr.Nature=J.Nature
		join Common.Company(NoLock) com on J.ServiceCompanyId=com.Id
		Join @ServEnt_TBL As Ser On Ser.ServEntity=com.Id
		Inner Join
   (
     SELECT Id,TransactionId,CompanyId,DocumentId,DocType,DocSubType,DocState,DocCurrency,DocAmount,DocBalanaceAmount,ExchangeRate,BaseAmount,
	 BaseBalanaceAmount,StateChangedBy,StateChangedDate,Remarks,PostingDate,DocAppliedAmount,BaseAppliedAmount,AgingState
     FROM Bean.DocumentHistory(NoLock)
     where  companyid =@Tenantid AND DocState is not null AND (AgingState <>'Deleted' OR AgingState IS NULL) AND PostingDate <= @AsOf
	 AND DocType IN ('Debit Note','Invoice')  --And DocType='Debt Provision'
		 And TransactionId IN (select DocumentId from @Transaction_DP)
		 
		 --(Select DocumentId from Bean.DocumentHistory Where CompanyId=@Tenantid And DocType='Debt Provision' And DocSubType='Allocation') 
     
   ) as K on K.DocumentId =J.DocumentId --And J.DocType='Debt Provision'--(K.TransactionId=(select id from Bean.Invoice where CompanyId=2416 and DocType='Debt Provision'))
   Left Join Bean.DoubtfulDebtAllocation(NoLock) As DDA On DDA.Id=J.DocumentId
    Where  K.DocState Not in ('Void') AND J.companyid =@Tenantid AND K.PostingDate  <= @AsOf 
		 And J.DocType in ('Debt Provision','Invoice','Debit Note') 
		 AND  J.DocumentState Not in ('Void')
		 AND J.DocCurrency in (select items from dbo.SplitToTable(@DocCurrency,',')) 
		  --AND J.Nature In (select Nature from @Nature_TBL)
			--AND com.ID in (select ServEntity from @ServEnt_TBL) 
			--AND de.ID in (Select Customer From  @Customer_TBL)--(select items from dbo.SplitToTable(@Customer,','))
		Group By de.[Name],J.DocDate,j.DocNo,K.DocType,K.DocumentId,
		J.DocCurrency,J.PostingDate,J.DocSubType,j.DocType,com.ShortName,J.DocumentId,J.ServiceCompanyId,J.DueDate,K.TransactionId,DDA.InvoiceId


		 --) As A
		 --Group By DocNo

Union All
------------------------------------------------------------------------------------------------------------------
	Select de.[Name],''ELimit
		, I.DocDate,Case when K.DocType='Invoice' Then ((Select Distinct I.DocNo 
		From Bean.Invoice(NoLock) I
		Inner Join Bean.DocumentHistory(NoLock) D ON D.TransactionId=I.Id
		Where D.DocumentId =K.TransactionId
		 ) + ' ('+(I.DocNo)+')' ) 
		 Else I.DocNo End Docno,I.DocCurrency AS Currency,/*I.DocType*/ 'Debt Provision' AS DocType,com.ShortName,I.Id As DocumentId,
		 SUM(ISNULL(K.DocAppliedAmount,0))*(-1)  DocBalanceAmount, 
			Sum(ISNULL(K.BaseAppliedAmount,0))*(-1) 'BalanceAmount', 
			case when DATEDIFF (day,I.DueDate,@AsOf ) <=0 then  
			SUM(ISNULL(K.DocAppliedAmount,0))*(-1)  else 0 end as 'Current',
			case when DATEDIFF (day,I.DueDate,@AsOf )  between 1 and 30 then 
			SUM(ISNULL(K.DocAppliedAmount,0))*(-1)  else 0 end as '1 to 30',
			case when DATEDIFF (day,I.DueDate,@AsOf ) between 31 and 60 then 
			SUM(ISNULL(K.DocAppliedAmount,0))*(-1)  else 0 end as '31 to 60',
			case when DATEDIFF (day,I.DueDate,@AsOf ) between 61 and 90 then 
			SUM(ISNULL(K.DocAppliedAmount,0))*(-1)  else 0 end as '61 to 90' ,
			case when DATEDIFF (day,I.DueDate,@AsOf ) between 91 and 120 then 
			SUM(ISNULL(K.DocAppliedAmount,0))*(-1) else 0 end as '91 to 120',
			case when DATEDIFF (day,I.DueDate,@AsOf ) >120 then 
			SUM(ISNULL(K.DocAppliedAmount,0))*(-1)  else 0 end as '> 120',
			I.ServiceCompanyId,I.DocSubType,I.DueDate,NULL AS IsAddNote
			
		From Bean.Invoice(NoLock) I
        Inner Join Bean.InvoiceDetail(NoLock) ID ON ID.InvoiceId=I.Id
		Join @Nature_TBL As Ntr On Ntr.Nature=I.Nature
		Join Bean.Entity(NoLock) de on I.EntityId=de.Id
		Join @Customer_TBL As Cust On Cust.Customer=De.Id
		join Common.Company(NoLock) com on I.ServiceCompanyId=com.Id
		Join @ServEnt_TBL As Ser On Ser.ServEntity=com.Id
		Join Bean.ChartOfAccount(NoLock) as c on c.Id=ID.COAId
		--Inner Join Bean.JournalDetail JD ON JD.DocumentDetailId=I.Id
		Inner Join
   (
     SELECT Id,TransactionId,CompanyId,DocumentId,DocType,DocSubType,DocState,DocCurrency,DocAmount,DocBalanaceAmount,ExchangeRate,BaseAmount,
	 BaseBalanaceAmount,StateChangedBy,StateChangedDate,Remarks,PostingDate,DocAppliedAmount,BaseAppliedAmount,AgingState
     FROM Bean.DocumentHistory(NoLock)
     where  companyid =@Tenantid AND DocState is not null AND (AgingState <>'Deleted' OR AgingState IS NULL) AND PostingDate <= @AsOf
	 AND DocType IN ('Invoice')  --And DocType='Debt Provision'
		 And TransactionId IN (select DocumentId from @Transaction_DP)
		 
		 --(Select DocumentId from Bean.DocumentHistory Where CompanyId=@Tenantid And DocType='Debt Provision' And DocSubType='Allocation') 
     
   ) as K on K.DocumentId = I.Id 
   --And  K.TransactionId NOT IN (select DocumentId from Bean.DocumentHistory where CompanyId=@Tenantid AND DocType='Debt Provision' )
   --(K.TransactionId NOT IN (select id from Bean.DoubtfulDebtAllocation where CompanyId=@Tenantid))
		
		 Where  K.DocState Not in ('Void') AND I.companyid =@Tenantid AND K.PostingDate  <= @AsOf 
		-- And J.DocType in ('Debt Provision','Invoice','Debit Note') 
		 AND  I.DocumentState Not in ('Void')
		  --AND K.Rank=1
		 And I.DocType in ('Debt Provision','Invoice') AND I.DocSubType IN ('Opening Bal') AND I.IsOBInvoice = 1 
		 AND I.DocCurrency in (select items from dbo.SplitToTable(@DocCurrency,','))
		 --AND ID.DocumentDetailId='00000000-0000-0000-0000-000000000000'
			--AND I.Nature In (select Nature from @Nature_TBL)
			--AND com.ID in (select ServEntity from @ServEnt_TBL) 
			--AND de.ID in (Select Customer From  @Customer_TBL)--(select items from dbo.SplitToTable(@Customer,','))
		    --AND NULL = @DocCurrency

		Group By  de.[Name],  I.DocDate,I.DocNo,I.DocCurrency,I.DueDate, I.DocType, I.DocNo,I.ExCurrency,
		 I.DocType, com.ShortName,I.Id,I.DocType,I.ServiceCompanyId,I.DocSubType,I.DueDate,K.TransactionId,K.DocType




UNION ALL
------------------------------------------------------------------------------------------------------------------

			Select de.[Name],
 '' ELimit
		, J.DocDate,Case when K.DocType='Invoice' Then (J.DocNo + ' ('+ (Select DocNo 
		From Bean.Invoice(NoLock) Where Id =K.DocumentId )   +')' ) 
						When K.DocType='Debit Note' Then J.DocNo +' ('+(Select DocNo From Bean.DebitNote(NoLock) Where Id =K.DocumentId) +')'
						Else J.Docno End Docno,J.DocCurrency AS Currency,j.DocType,com.ShortName,
						Case When (J.DocType='Debt Provision' And J.DocSubType='Allocation') Then DDA.InvoiceId Else J.DocumentId End As DocumentId
		 /*J.DocumentId As DocumentId*/, 
		 Case When J.DocType IN ('Debt Provision') AND J.DocSubType IN ('General') Then (SUM(ISNULL(K.DocAppliedAmount,0))) *(-1) Else SUM(ISNULL(K.DocAppliedAmount,0)) End AS DocBalanceAmount,
		 Case When J.DocType IN ('Debt Provision') AND J.DocSubType IN('General') Then (SUM(ISNULL(K.BaseAppliedAmount,0)))*(-1) Else SUM(ISNULL(K.BaseAppliedAmount,0)) END AS BaseBalanceAmount, 
		 case when DATEDIFF (day,J.DocDate,@AsOf ) <=0 then Case When J.DocType IN ('Debt Provision') AND J.DocSubType IN('General') Then 
			(SUM(ISNULL(K.DocAppliedAmount,0)))*(-1) Else SUM(ISNULL(K.DocAppliedAmount,0)) End else 0 end as 'Current',
			case when DATEDIFF (day,J.DocDate,@AsOf )  between 1 and 30 then Case When J.DocType IN ('Debt Provision') AND J.DocSubType IN('General') Then 
			(SUM(ISNULL(K.DocAppliedAmount,0)))*(-1) Else SUM(ISNULL(K.DocAppliedAmount,0)) End else 0 end as '1 to 30',
			case when DATEDIFF (day,J.DocDate,@AsOf ) between 31 and 60 then Case When J.DocType IN ('Debt Provision') AND J.DocSubType IN('General') Then 
			(SUM(ISNULL(K.DocAppliedAmount,0)))*(-1) Else SUM(ISNULL(K.DocAppliedAmount,0)) End else 0 end as '31 to 60',
			case when DATEDIFF (day,J.DocDate,@AsOf ) between 61 and 90 then Case When J.DocType IN ('Debt Provision') AND J.DocSubType IN('General') Then 
			(SUM(ISNULL(K.DocAppliedAmount,0)))*(-1) Else SUM(ISNULL(K.DocAppliedAmount,0)) End else 0 end as '61 to 90' ,
			case when DATEDIFF (day,J.DocDate,@AsOf ) between 91 and 120 then Case When J.DocType IN ('Debt Provision') AND J.DocSubType IN('General') Then 
			(SUM(ISNULL(K.DocAppliedAmount,0)))*(-1) Else SUM(ISNULL(K.DocAppliedAmount,0)) End else 0 end as '91 to 120',
			case when DATEDIFF (day,J.DocDate,@AsOf ) >120 then Case When J.DocType IN ('Debt Provision') AND J.DocSubType IN('General') Then 
			(SUM(ISNULL(K.DocAppliedAmount,0)))*(-1) Else SUM(ISNULL(K.DocAppliedAmount,0)) End else 0 end as '> 120',
			J.ServiceCompanyId,J.DocSubType,J.PostingDate DueDate,NULL AS IsAddNote
			From Bean.Journal(NoLock) J
		Join Bean.Entity(NoLock) de on J.EntityId=de.Id
		Join @Customer_TBL As Cust On Cust.Customer=De.Id
		Join @Nature_TBL As Ntr On Ntr.Nature=J.Nature
		join Common.Company(NoLock) com on J.ServiceCompanyId=com.Id
		Join @ServEnt_TBL As Ser On Ser.ServEntity=com.Id
		Inner Join
   (
     SELECT Id,TransactionId,CompanyId,DocumentId,DocType,DocSubType,DocState,DocCurrency,DocAmount,DocBalanaceAmount,ExchangeRate,BaseAmount,
	 BaseBalanaceAmount,StateChangedBy,StateChangedDate,Remarks,PostingDate,DocAppliedAmount,BaseAppliedAmount,AgingState
     FROM Bean.DocumentHistory(NoLock)
     where  companyid =@Tenantid AND DocState is not null AND (AgingState <>'Deleted' OR AgingState IS NULL) AND PostingDate <= @AsOf
	 --AND DocType IN ('Debit Note','Invoice')  --And DocType='Debt Provision'
		 --And TransactionId IN (Select DocumentId from Bean.DocumentHistory Where CompanyId=@Tenantid And DocType='Debt Provision' And DocSubType='Allocation') 
     
   ) as K on K.DocumentId =J.DocumentId And J.DocType='Debt Provision'--(K.TransactionId=(select id from Bean.Invoice where CompanyId=2416 and DocType='Debt Provision'))
   Left Join Bean.DoubtfulDebtAllocation(NoLock) As DDA On DDA.Id=J.DocumentId
    Where  K.DocState Not in ('Void') AND J.companyid =@Tenantid AND K.PostingDate  <= @AsOf 
		 And J.DocType in ('Debt Provision') AND J.DocSubType NOT in ('Allocation')
		 AND  J.DocumentState Not in ('Void')
		  --AND J.Nature In (select Nature from @Nature_TBL)
			--AND com.ID in (select ServEntity from @ServEnt_TBL) 
			--AND de.ID in (Select Customer From  @Customer_TBL)--(select items from dbo.SplitToTable(@Customer,','))
			AND J.DocCurrency in (select items from dbo.SplitToTable(@DocCurrency,',')) 
		Group By de.[Name],J.DocDate,j.DocNo,K.DocType,K.DocumentId,
		J.DocCurrency,J.PostingDate,J.DocSubType,j.DocType,com.ShortName,J.DocumentId,J.ServiceCompanyId,J.DueDate,DDA.InvoiceId

	) AS a

	WHERE ISNULL(DocBalanceAmount,0) <>0 AND ISNULL(BaseBalanceAmount,0) <>0 
	Group By Name,DocDate,DocNo,Currency,DocType,ShortName,ELimit,DocumentId,DocBalanceAmount,BaseBalanceAmount,ServiceCompanyId,DocSubType,DueDate,IsAddNote
	ORDER BY Name,DocDate
End
END
GO
