USE [SmartCursorSTG]
GO
/****** Object:  StoredProcedure [dbo].[SP_WORKWEEK_EMPLOYEE_HOURS_BY_EMPLOYEE_PendingOpportunity]    Script Date: 16-12-2024 9.20.11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_WORKWEEK_EMPLOYEE_HOURS_BY_EMPLOYEE_PendingOpportunity]
 @FROMDATE DATE,
 @TODATE DATE, 
 @COMPANYID BIGINT, 
 @EMPLOYEEID UNIQUEIDENTIFIER
 As
 Begin
DECLARE @OUTPUT TABLE ( EMPLOYEENAME NVARCHAR (1000),EMPLOYEEID UNIQUEIDENTIFIER,EMPLOYEENUMBER NVARCHAR(100),
                        CLIENTNAME NVARCHAR(1000),CASENUMBER NVARCHAR(100),CASENAME NVARCHAR(1000), STARTDATE DATE,
						ENDDATE DATE,TOATLHOURS MONEY,IsOverRunHours Money,CASEID UNIQUEIDENTIFIER,PHOTOURL NVARCHAR(1000),SCHEDULETYPEID UNIQUEIDENTIFIER NULL, SCHEDULETYPE NVARCHAR(100), IsActualHrs bit)
Insert into @OUTPUT
Exec [dbo].[SP_WORKWEEK_EMPLOYEE_HOURS_BY_EMPLOYEE_Both_PendingOpportunity] @FROMDATE =@FROMDATE,@TODATE=@TODATE,@COMPANYID=@COMPANYID,@EMPLOYEEID=@EMPLOYEEID

Insert into @OUTPUT
Exec [dbo].[SP_Planned_Hrs_Calc_PendingOpp] @FROMDATE =@FROMDATE,@TODATE=@TODATE,@COMPANYID=@COMPANYID,@EMPLOYEEID=@EMPLOYEEID

Insert into @OUTPUT
Exec [dbo].[SP_WORKWEEK_EMPLOYEE_HOURS_BY_EMPLOYEE_ACTUALHOURSONLY_PendingOpportunity] @FROMDATE =@FROMDATE,@TODATE=@TODATE,@COMPANYID=@COMPANYID,@EMPLOYEEID=@EMPLOYEEID
Select * from @OUTPUT 

END
GO
