USE [SmartCursorSTG]
GO
/****** Object:  StoredProcedure [dbo].[Actual_Hours_sample]    Script Date: 16-12-2024 9.20.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[Actual_Hours_sample]ASBEGIN-- Exec Actual_Hours_sampleselect Distinct SourceCaseId,CaseNumber,Cast((SUM(FeeAllocationDoller)/ Nullif(SUM(Hourscost),0))*100 as decimal(10,2)) AS 'ActualRecovery' from (  SELECT Distinct SourceCaseId,CaseNumber ,FirstName, FeeAllocationPercentage ,(FeeAllocationPercentage*FEE)/100 as 'FeeAllocationDoller', Hourscost FROM  (  SELECT Distinct SourceCaseId,CaseNumber,FEE,FirstName,(((PlanedHours)*(ChargeoutRate))/NUllif(Totalcost,0))*100 AS FeeAllocationPercentage,Hourscost FROM  ( SELECT Distinct SourceCaseId,CaseNumber,FirstName ,(Hourscost)/ Nullif((PlanedHours),0) AS ChargeoutRate ,PlanedHours,Hourscost,FEE,Totalcost FROM  ( select Distinct SourceCaseId,FEE,CaseNumber,FirstName,SUM(Hourscost) Hourscost,SUM(PlanedHours) PlanedHours,Totalcost ---,(SUM(Hourscost)/nullif(SUM(PlanedHours),0)) ChargeoutRate   from  (  select Distinct  SourceCaseId,CaseNumber,FirstName,DepartmentId,DepartmentDesignationId, CAST(ActualHours AS DECIMAL(20,2))PlanedHours,--- HOURS, ChargeoutRate,  --PlanedHours,ChargeoutRate,  (ActualHours*ChargeoutRate) Hourscost,FEE,Totalcost--COST ---(SUM(Hourscost)/nullif(SUM(PlanedHours),0))---CHAR   from (select rank() over(partition by E.Id/*ed.departmentId*/ order by ( case when Ed.[EffectiveTo] is null then dateadd(d,-1,Convert(date,Convert(varchar(100),Year(GETDATE())+1)+'-'+'01'+'-'+'01')) else Ed.[EffectiveTo] end  ) desc) as rank ,Totalcost, C.Id SourceCaseId,C.CaseNumber,C.FEE,---case CASE WHEN Cast(ISnull(Tls.ActualHours,0)/600000000 As int) >= 60 THEN     Cast(Cast(ISnull(Tls.ActualHours,0)/600000000 As int) / 60 As Varchar) + '.' +     Case When (Cast(ISnull(Tls.ActualHours,0)/600000000 As int) % 60) < 10 Then       '0'+Cast (Cast (ISnull(Tls.ActualHours,0)/600000000 As int) % 60 As varchar)    Else     Cast(Cast(ISnull(Tls.ActualHours,0)/600000000 As int) % 60 As varchar)   End    Else    Cast( Cast (Tls.ActualHours/600000000 As int) % 60  As varchar) End as ActualHours,CAST(Tls.ChargeOutRate AS DECIMAL(20,2)) as ChargeoutRate,e.FirstName,d.id as Departmentid,dd.Id as DepartmentDesignationId	  from WorkFlow.CaseGroup cInner Join Common.TimeLogSchedule Tls on tls.CaseId=c.Id--inner join WorkFlow.ScheduleTask tsk on tsk.ScheduleDetailId=st.Idinner Join Common.employee E  on E.Id=Tls.EmployeeIdInner Join [HR].[EmployeeDepartment] as ed on ED.EmployeeId = E.Id and ed.DepartmentId=Tls.DepartmentIdInner Join Common.Department D on D.id= ED.DepartmentIdInner Join Common.DepartmentDesignation DD on DD.Id= ED.DepartmentDesignationId and dd.Id=Tls.DesignationId--where  C.CompanyId=147 and c.CaseNumber='CASE-2018-00188'inner join(select Distinct SourceCaseId,FEE,CaseNumber,SUM(Hourscost) Totalcost ---,(SUM(Hourscost)/nullif(SUM(PlanedHours),0)) ChargeoutRate   from  (  select Distinct SourceCaseId,CaseNumber,FirstName,DepartmentId,DepartmentDesignationId, PlanedHours,--- HOURS, ChargeoutRate,  --PlanedHours,ChargeoutRate,  (PlanedHours*ChargeoutRate) Hourscost,FEE--COST ---(SUM(Hourscost)/nullif(SUM(PlanedHours),0))---CHAR   from (select Distinct C.id SourceCaseId,C.CaseNumber,C.FEE,---case CASE WHEN Cast(ISnull(Tls.ActualHours,0)/600000000 As int) >= 60 THEN     Cast(Cast(ISnull(Tls.ActualHours,0)/600000000 As int) / 60 As Varchar) + '.' +     Case When (Cast(ISnull(Tls.ActualHours,0)/600000000 As int) % 60) < 10 Then       '0'+Cast (Cast (ISnull(Tls.ActualHours,0)/600000000 As int) % 60 As varchar)    Else     Cast(Cast(ISnull(Tls.ActualHours,0)/600000000 As int) % 60 As varchar)   End    Else    Cast( Cast (Tls.ActualHours/600000000 As int) % 60  As varchar) End as PlanedHours,CAST(Tls.ChargeOutRate AS DECIMAL(20,2)) as ChargeoutRate,e.FirstName,d.id as Departmentid,dd.Id as DepartmentDesignationId	  from WorkFlow.CaseGroup cInner Join Common.TimeLogSchedule Tls on tls.CaseId=c.Id--inner join WorkFlow.ScheduleTask tsk on tsk.ScheduleDetailId=st.Idinner Join Common.employee E  on E.Id=Tls.EmployeeId   Inner Join [HR].[EmployeeDepartment] as ed on ED.EmployeeId = E.Id and ed.DepartmentId=Tls.DepartmentId   Inner Join Common.Department D on D.id= ED.DepartmentIdInner Join Common.DepartmentDesignation DD on DD.Id= ED.DepartmentDesignationId and dd.Id=Tls.DesignationIdwhere  C.CompanyId=1 --and c.CaseNumber='CE-ACCACT-2018-00196')ss--where rank=1--group by SourceCaseId,CaseNumber,FirstName,DepartmentId,DepartmentDesignationId,LevelRank,FEE---,PlanedHours,ChargeoutRate) ddgroup by SourceCaseId,CaseNumber,FEE)ff on ff.SourceCaseId=c.Id and ff.CaseNumber=c.CaseNumberwhere  C.CompanyId=1 --and c.CaseNumber='CE-ACCACT-2018-00196')ss--where rank=1--group by SourceCaseId,CaseNumber,FirstName,DepartmentId,DepartmentDesignationId,LevelRank,FEE---,PlanedHours,ChargeoutRate) ddgroup by SourceCaseId,CaseNumber,FirstName,FEE,Totalcost) DD) SS) GG)ffwhere CaseNumber in ('CE-AUDSTA-2018-02265','CE-AUDSTA-2018-00798','CE-AUDSTA-2018-02250','CE-FRSCFS-2018-00236')group by SourceCaseId,CaseNumberEND
GO
