USE [SmartCursorSTG]
GO
/****** Object:  StoredProcedure [dbo].[UpdateInvoiceFullypaid]    Script Date: 16-12-2024 9.20.11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[UpdateInvoiceFullypaid]
 @Companyid int
 as
 begin 
 ---------exec dbo.UpdateInvoiceFullypaid ?

select Id,Number,State,InvType 
 --update  I set I.State='Fully Paid' 
from  WorkFlow.INVOICE AS I WHERE I.CompanyId=@Companyid  and I.State not in ('Void','Rejected') AND I.Id   Not in 

(SELECT   ID  FROM  WorkFlow.INVOICE WHERE COMPANYID=@Companyid   AND NUMBER IN  ----- fp=2,  void=2, notpaid =197
   
   ('INV-2018-02525',
'INV-2018-02527',
'INV-2018-02536',
'INV-2018-02514',
'INV-2018-01720',
'INV-2018-02181',
'INV-2018-02247',
'INV-2018-02477',
'INV-2018-02411',
'INV-2018-02237',
'INV-2018-02426',
'INV-2018-02279',
'INV-2018-02476',
'INV-2018-02485',
'INV-2018-02144',
'INV-2018-01933',
'INV-2018-02265',
'INV-2018-02438',
'INV-2018-02475',
'INV-2018-02437',
'INV-2018-02501',
'INV-2018-02487',
'INV-2018-02509',
'INV-2018-02530',
'INV-2018-02510',
'INV-2018-02521',
'INV-2018-02264',
'INV-2018-02427',
'INV-2018-01690',
'INV-2018-02227',
'INV-2018-02464',
'INV-2018-01777',
'INV-2018-02463',
'INV-2018-02234',
'INV-2018-02220',
'INV-2018-02459',
'INV-2018-02445',
'INV-2018-01505',
'INV-2018-02467',
'INV-2018-02490',
'INV-2018-02478',
'INV-2018-02479',
'INV-2018-02466',
'INV-2019-02545',
'INV-2018-02532',
'INV-2018-02439',
'INV-2018-02260',
'INV-2018-01506',
'INV-2018-02024',
'INV-2018-02301',
'INV-2018-01275',
'INV-2018-02513',
'INV-2018-01809',
'INV-2018-02259',
'INV-2018-02215',
'INV-2019-02547',
'INV-2018-02284',
'INV-2018-02480',
'INV-2018-02126',
'INV-2018-02293',
'INV-2018-02430',
'INV-2018-02294',
'INV-2018-02519',
'INV-2018-02520',
'INV-2018-02518',
'INV-2018-02160',
'INV-2018-02435',
'INV-2018-02434',
'INV-2018-02436',
'INV-2019-02544',
'INV-2018-02139',
'INV-2018-02152',
'INV-2018-01942',
'INV-2018-02417',
'INV-2018-01662',
'INV-2018-02217',
'INV-2018-02236',
'INV-2018-02083',
'INV-2018-02082',
'INV-2018-02084',
'INV-2018-02117',
'INV-2018-02116',
'INV-2018-02118',
'INV-2018-02497',
'INV-2018-01582',
'INV-2018-02524',
'INV-2018-01778',
'INV-2018-02492',
'INV-2018-02287',
'INV-2018-02534',
'INV-2018-02025',
'INV-2018-01812',
'INV-2018-02302',
'INV-2018-02414',
'INV-2019-02549',
'INV-2019-02548',
'INV-2018-02455',
'INV-2018-02451',
'INV-2018-02481',
'INV-2018-02489',
'INV-2018-02491',
'INV-2018-02523',
'INV-2018-02502',
'INV-2018-02493',
'INV-2018-02488',
'INV-2018-02522',
'INV-2019-02546',
'INV-2018-02178',
'INV-2018-02179',
'INV-2018-02080',
'INV-2018-02081',
'INV-2018-02190',
'INV-2018-02148',
'INV-2018-02230',
'INV-2019-02550',
'INV-2018-02533',
'INV-2018-02512',
'INV-2018-02511',
'INV-2018-02167',
'INV-2018-02194',
'INV-2018-02138', 
'INV-2018-02285',
'INV-2018-02538',
'INV-2018-02469',
'INV-2018-01959',
'INV-2018-02235',
'INV-2018-02013',
'INV-2018-02496',
'INV-2018-02454',
'INV-2018-02471',
'INV-2018-01751',
'INV-2018-01488',
'INV-2018-01498',
'INV-2018-01489',
'INV-2018-01499',
'INV-2018-02515',
'INV-2018-01697',
'INV-2018-02228',
'INV-2018-02244',
'INV-2018-01883',
'INV-2018-01779',
'INV-2018-01772',
'INV-2018-01773',
'INV-2018-02499',
'INV-2018-02503',
'INV-2018-02465',
'INV-2018-01941',
'INV-2018-02100',
'INV-2018-02166',
'INV-2018-01725', 
'INV-2018-01726',
'INV-2018-01727',
'INV-2018-01728',
'INV-2018-02198',
'INV-2018-02249',
'INV-2018-02254',
'INV-2018-01743',
'INV-2018-00509',
'INV-2018-02446',
'INV-2018-02447',
'INV-2018-01768',
'INV-2018-01782',
'INV-2018-01766',
'INV-2018-02239',
'INV-2018-02457',
'INV-2018-02452',
'INV-2018-02462',
'INV-2018-01814',
'INV-2018-01815',
'INV-2018-02508',
'INV-2018-01973',
'INV-2018-02145',
'INV-2018-02212',
'INV-2018-02229',
'INV-2018-00174',
'INV-2018-00567', 
'INV-2018-00568',
'INV-2018-00597',
'INV-2018-02267',
'INV-2018-02472',
'INV-2018-01761',
'INV-2018-02253',
'INV-2018-02531',
'INV-2018-02048',
'INV-2018-02470',
'INV-2018-02258',
'INV-2018-02498',
'INV-2018-01748',
'INV-2018-02216',
'INV-2018-02288',
'INV-2018-02517',
'INV-2019-02540',
'INV-2019-02541',
'INV-2019-02539',
'INV-2018-02422',
'INV-2018-02424',
'INV-2018-02418',
'INV-2018-02420',
'INV-2018-02504',
'INV-2018-02506',
'INV-2018-02505') 
)
end 
GO
