USE [SmartCursorSTG]
GO
/****** Object:  StoredProcedure [dbo].[A.H_AND_P.H]    Script Date: 16-12-2024 9.20.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	 
	 create procedure [dbo].[A.H_AND_P.H]
	  AS
	  BEGIN 
	 
	  select distinct  EmployeeId,FirstName, Type, SystemType,ChargeType,StartDate,EndDate,
       CAST ( PlannedHours AS decimal(28,2)) AS TotalHours ,
         CAST (OverRunHours AS decimal(28,2)) OverRunHours,
        TenantId,DefaultWorkingHours FROM 
	 (
	  select distinct E.Id AS  EmployeeId,E.FirstName,'P.H' AS Type,'CaseGroup' AS SystemType,'Chargeable' as ChargeType,TSK.StartDate,TSK.EndDate,
 	   RIGHT('0' + CAST(   isnull(sum(DATEPART(SECOND, tsk.Hours) + 60 *  DATEPART(MINUTE, tsk.Hours) + 3600 * DATEPART(HOUR, tsk.Hours )),0) / 3600 AS VARCHAR),2) + '.' +
       RIGHT('0' + CAST((   isnull(sum(DATEPART(SECOND, tsk.Hours) + 60 *  DATEPART(MINUTE, tsk.Hours) + 3600 * DATEPART(HOUR, tsk.Hours )),0) / 60) % 60 AS VARCHAR),2)As PlannedHours ,
	   RIGHT('0' + CAST(   isnull(sum(DATEPART(SECOND, tsk.IsOverRunHours) + 60 *  DATEPART(MINUTE, tsk.IsOverRunHours) + 3600 * DATEPART(HOUR, tsk.IsOverRunHours )),0) / 3600 AS VARCHAR),2) + '.' +
       RIGHT('0' + CAST(( isnull(sum(DATEPART(SECOND, tsk.IsOverRunHours) + 60 *  DATEPART(MINUTE, tsk.IsOverRunHours) + 3600 * DATEPART(HOUR, tsk.IsOverRunHours )),0) / 60) % 60 AS VARCHAR),2)As  OverRunHours,
       EE.TenantId AS TenantId,CC.DefaultWorkingHours

         from WorkFlow.Schedule s 
         inner join WorkFlow.ScheduleDetail st on st.MasterId=s.Id
         inner join WorkFlow.ScheduleTask tsk on tsk.ScheduleDetailId=ST.Id
         LEFT join WorkFlow.CaseGroup c on C.Id=s.CaseId
         inner Join Common.Employee E  on E.Id=st.EmployeeId
         --INNER Join [HR].[EmployeeDepartment] as HR on HR.EmployeeId = E.Id
         --INNER join Common.Department D  ON D.ID=HR.DepartmentId
         --INNER join Common.DepartmentDesignation DD ON DD.ID=HR.DepartmentDesignationId
         INNER JOIN Common.Company EE ON EE.Id=C.CompanyId
		 		 INNER JOIN Common.Localization CC ON CC.CompanyId=C.CompanyId 
         --where E.FirstName='Aprianti' 	 and TSK.StartDate between '2019-03-31 00:00:00.0000000' and '2019-04-06 00:00:00.0000000'
         group by  EE.TenantId ,E.Id ,E.FirstName,TSK.StartDate,TSK.EndDate,CC.DefaultWorkingHours
	 
	  union all
	 
	 select 	distinct E.Id AS  EmployeeId,E.FirstName,  'A.H'as Type,'CaseGroup' AS SystemType,'Chargeable' as ChargeType,TLD.Date as Startdate,t.Enddate, 
		 RIGHT('0' + CAST(   isnull(sum(DATEPART(SECOND, tld.Duration) + 60 *  DATEPART(MINUTE, tld.Duration) + 3600 * DATEPART(HOUR, tld.Duration )),0) / 3600 AS VARCHAR),2) + '.' +
         RIGHT('0' + CAST((   isnull(sum(DATEPART(SECOND, tld.Duration) + 60 *  DATEPART(MINUTE, tld.Duration) + 3600 * DATEPART(HOUR, tld.Duration )),0) / 60) % 60 AS VARCHAR),2)As ActHours,'00.00' AS OverRunHours 
	    ,ee.TenantId,CC.DefaultWorkingHours
	     FROM Common.TimeLog T
		 INNER JOIN Common.TimeLogDetail TLD ON T.Id=TLD.MasterId
		 INNER JOIN Common.TimeLogItem TLI ON TLI.Id=T.TimeLogItemId
		 left JOIN WorkFlow.CaseGroup C on TLI.SystemId = C.Id
		 INNER JOIN Common.Employee E on T.EmployeeId = E.Id  
		--INNER Join [HR].[EmployeeDepartment] as HR on HR.EmployeeId = E.Id
        --INNER join Common.Department D  ON D.ID=HR.DepartmentId
       --INNER join Common.DepartmentDesignation DD ON DD.ID=HR.DepartmentDesignationId
	     INNER JOIN Common.Company EE ON EE.Id=C.CompanyId
		 		 INNER JOIN Common.Localization CC ON CC.CompanyId=C.CompanyId 
	     where T.Status=1 AND SystemType='CaseGroup' and TLI.ChargeType='Chargeable'  AND t.Status=1   AND TLD.Duration <> '00:00:00.0000000'
		 --and E.FirstName='Aprianti'
		 --and TLD.Date between '2019-03-31 00:00:00.0000000' and '2019-04-06 00:00:00.0000000'

         group by  EE.TenantId ,E.Id ,E.FirstName,t.Enddate,TLD.Date,CC.DefaultWorkingHours
		  --order by  TLD.Date

		 union all

		 	 select 	distinct E.Id AS  EmployeeId,E.FirstName,'A.H'as Type,'Calender' AS SystemType,'Non-Chargeable' as ChargeType,T.Startdate,t.Enddate, 
		CAST(SUM(distinct TLI.Hours) AS VARCHAR(max)) ActHours,'00.00' AS OverRunHours 
	    ,ee.TenantId,C.DefaultWorkingHours
	     FROM Common.TimeLog T
		 INNER JOIN Common.TimeLogDetail TLD ON T.Id=TLD.MasterId
		 INNER JOIN Common.TimeLogItem TLI ON TLI.Id=T.TimeLogItemId
		 --left JOIN WorkFlow.CaseGroup C on TLI.SystemId = C.Id
		 INNER JOIN Common.Employee E on T.EmployeeId = E.Id  
		--INNER Join [HR].[EmployeeDepartment] as HR on HR.EmployeeId = E.Id
        --INNER join Common.Department D  ON D.ID=HR.DepartmentId
       --INNER join Common.DepartmentDesignation DD ON DD.ID=HR.DepartmentDesignationId
	     INNER JOIN Common.Company EE ON EE.Id=TLI.CompanyId
		 		 INNER JOIN Common.Localization C ON C.CompanyId=TLI.CompanyId 
	     where  T.Status=1 AND TLI.ChargeType='Non-Chargeable' AND TLI.SystemType='Calender'  and TLI.hours<>'0.00' 
		 --and E.FirstName='Aprianti'
		 --and T.Startdate between '2019-03-31 00:00:00.0000000' and '2019-04-06 00:00:00.0000000'


         group by  EE.TenantId ,E.Id ,E.FirstName,T.Startdate,t.Enddate,C.DefaultWorkingHours


		
		 UNION ALL

		 	 select 	distinct E.Id AS  EmployeeId,E.FirstName,'A.H'as Type,'Time Log Item' AS SystemType,'Non-Chargeable' as ChargeType,TLD.Date AS StartDate,t.Enddate, 
		 RIGHT('0' + CAST(   isnull(sum(DATEPART(SECOND, tld.Duration) + 60 *  DATEPART(MINUTE, tld.Duration) + 3600 * DATEPART(HOUR, tld.Duration )),0) / 3600 AS VARCHAR),2) + '.' +
         RIGHT('0' + CAST((   isnull(sum(DATEPART(SECOND, tld.Duration) + 60 *  DATEPART(MINUTE, tld.Duration) + 3600 * DATEPART(HOUR, tld.Duration )),0) / 60) % 60 AS VARCHAR),2)As ActHours,'00.00' AS OverRunHours 
	    ,ee.TenantId,C.DefaultWorkingHours
	     FROM Common.TimeLog T
		 INNER JOIN Common.TimeLogDetail TLD ON T.Id=TLD.MasterId
		 INNER JOIN Common.TimeLogItem TLI ON TLI.Id=T.TimeLogItemId
		 --left JOIN WorkFlow.CaseGroup C on TLI.SystemId = C.Id
		 INNER JOIN Common.Employee E on T.EmployeeId = E.Id  
		--INNER Join [HR].[EmployeeDepartment] as HR on HR.EmployeeId = E.Id
        --INNER join Common.Department D  ON D.ID=HR.DepartmentId
       --INNER join Common.DepartmentDesignation DD ON DD.ID=HR.DepartmentDesignationId
	     INNER JOIN Common.Company EE ON EE.Id=TLI.CompanyId
		 		 INNER JOIN Common.Localization C ON C.CompanyId=TLI.CompanyId 
	     where  T.Status=1 AND TLI.ChargeType='Non-Chargeable' AND TLI.SystemType='Time Log Item'  AND tld.Duration <> '00:00:00.0000000' 
		 --and E.FirstName='Aprianti'
		 --and TLD.Date between '2019-03-31 00:00:00.0000000' and '2019-04-06 00:00:00.0000000'


         group by  EE.TenantId ,E.Id ,E.FirstName,TLD.Date,t.Enddate,C.DefaultWorkingHours

		  	 union all

		 		 select 	distinct  E.Id AS  EmployeeId,E.FirstName,'A.H'as Type,'Calender' AS SystemType,'Non-Working' as ChargeType,TLI.Startdate,TLI.Enddate, 
		CAST(SUM(distinct TLI.Hours) AS VARCHAR(max)) ActHours,'00.00' AS OverRunHours 
	    ,ee.TenantId,C.DefaultWorkingHours
	     FROM Common.TimeLogItem TLI
		 --INNER JOIN Common.TimeLogItemDetail TLD ON TLD.TimeLogItemId=TLI.Id
		 --left JOIN WorkFlow.CaseGroup C on TLI.SystemId = C.Id
		 INNER JOIN Common.Employee E on TLI.CompanyId = E.CompanyId
		--INNER Join [HR].[EmployeeDepartment] as HR on HR.EmployeeId = E.Id
        --INNER join Common.Department D  ON D.ID=HR.DepartmentId
       --INNER join Common.DepartmentDesignation DD ON DD.ID=HR.DepartmentDesignationId
	     INNER JOIN Common.Company EE ON EE.Id=TLI.CompanyId
		 		 INNER JOIN Common.Localization C ON C.CompanyId=TLI.CompanyId 
	     where   TLI.ChargeType IN ('Non-Available','Non-Working') AND TLI.SystemType='Calender'  and TLI.hours<>'0.00' 
		 and tli.Status=1 AND TLI.ApplyToAll=1 AND IsMain=0
	--and  FirstName='Aprianti' and StartDate between '2019-10-27 00:00:00.0000000' and '2019-11-02 00:00:00.0000000'
	
         group by  EE.TenantId ,E.Id ,E.FirstName,TLI.Startdate,TLI.Enddate,C.DefaultWorkingHours


		 		 UNION ALL

		 	 select 	distinct E.Id AS  EmployeeId,E.FirstName,'A.H'as Type,'Time Log Item' AS SystemType,'Non-Working' as ChargeType,TLD.Date AS StartDate,t.Enddate, 
		 RIGHT('0' + CAST(   isnull(sum(DATEPART(SECOND, tld.Duration) + 60 *  DATEPART(MINUTE, tld.Duration) + 3600 * DATEPART(HOUR, tld.Duration )),0) / 3600 AS VARCHAR),2) + '.' +
         RIGHT('0' + CAST((   isnull(sum(DATEPART(SECOND, tld.Duration) + 60 *  DATEPART(MINUTE, tld.Duration) + 3600 * DATEPART(HOUR, tld.Duration )),0) / 60) % 60 AS VARCHAR),2)As ActHours,'00.00' AS OverRunHours 
	    ,ee.TenantId,C.DefaultWorkingHours
	     FROM Common.TimeLog T
		 INNER JOIN Common.TimeLogDetail TLD ON T.Id=TLD.MasterId
		 INNER JOIN Common.TimeLogItem TLI ON TLI.Id=T.TimeLogItemId
		 --left JOIN WorkFlow.CaseGroup C on TLI.SystemId = C.Id
		 INNER JOIN Common.Employee E on T.EmployeeId = E.Id  
		--INNER Join [HR].[EmployeeDepartment] as HR on HR.EmployeeId = E.Id
        --INNER join Common.Department D  ON D.ID=HR.DepartmentId
       --INNER join Common.DepartmentDesignation DD ON DD.ID=HR.DepartmentDesignationId
	     INNER JOIN Common.Company EE ON EE.Id=TLI.CompanyId
		 		 INNER JOIN Common.Localization C ON C.CompanyId=TLI.CompanyId 
	     where  T.Status=1 AND TLI.ChargeType in ('Non-Available','Non-Working')  AND TLI.SystemType='Time Log Item'  AND tld.Duration <> '00:00:00.0000000' 
		 --and E.FirstName='Aprianti'
		 --and TLD.Date between '2019-03-31 00:00:00.0000000' and '2019-04-06 00:00:00.0000000'


         group by  EE.TenantId ,E.Id ,E.FirstName,TLD.Date,t.Enddate,C.DefaultWorkingHours


		 		  	 union all
	 	 select 	distinct E.Id AS  EmployeeId,E.FirstName,'A.H'as Type,'LeaveApplication' AS SystemType,'Non-Working' as ChargeType,TLI.Startdate,TLI.Enddate, 
		CAST(SUM(distinct TLI.Hours) AS VARCHAR(max)) ActHours,'00.00' AS OverRunHours 
	    ,ee.TenantId,C.DefaultWorkingHours
	     FROM Common.TimeLogItem TLI 
		 INNER JOIN Common.TimeLogItemDetail TLD ON TLD.TimeLogItemId=TLI.Id
		 --INNER JOIN Common.TimeLogItem TLI ON TLI.Id=T.TimeLogItemId
		 Inner JOIN hr.LeaveApplication as La on La.Id=TLI.SystemId
		 --left JOIN WorkFlow.CaseGroup C on TLI.SystemId = C.Id
		 INNER JOIN Common.Employee E on TLD.EmployeeId = E.Id  
		--INNER Join [HR].[EmployeeDepartment] as HR on HR.EmployeeId = E.Id
        --INNER join Common.Department D  ON D.ID=HR.DepartmentId
       --INNER join Common.DepartmentDesignation DD ON DD.ID=HR.DepartmentDesignationId
	     INNER JOIN Common.Company EE ON EE.Id=TLI.CompanyId
		 INNER JOIN Common.Localization C ON C.CompanyId=TLI.CompanyId 
	     where   TLI.ChargeType ='Non-Available' AND TLI.SystemType ='LeaveApplication'  AND LA.LeaveStatus IN ('Approved','For Cancellation') and TLI.hours<>'0.00' 
		 --and E.FirstName='Aprianti'
		 --and TLI.Startdate between '2019-09-29 00:00:00.0000000' and '2019-10-05 00:00:00.0000000'
		      group by  EE.TenantId ,E.Id ,E.FirstName,TLI.Startdate,TLI.Enddate,C.DefaultWorkingHours



		 )GG
		 where FirstName='Aprianti' and StartDate between '2019-10-27 00:00:00.0000000' and '2019-11-02 00:00:00.0000000'
		 ORDER BY Startdate

		 END
--		 select  ( DefaultWorkingHours) as WorkingHours,CompanyId  from Common.Localization  
--where  DefaultWorkingHours<>'0.00' and Status=1 



	

GO
