USE [SmartCursorSTG]
GO
/****** Object:  StoredProcedure [dbo].[Upadate_Invoice_FullyPaid]    Script Date: 16-12-2024 9.20.11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE  procedure [dbo].[Upadate_Invoice_FullyPaid]
@CompanyId int 
as 
begin 

 --update  I set I.State='Fully Paid' 
select Id,Number,State,InvType 
 --update  I set I.State='Fully Paid' 

from  WorkFlow.INVOICE AS I WHERE InvDate<='2018-12-31 00:00:00.0000000'and I.CompanyId=@CompanyId and I.State='Not Paid' AND I.Id   Not in 

(SELECT   ID  FROM  WorkFlow.INVOICE WHERE  InvDate<='2018-12-31 00:00:00.0000000' and  COMPANYID=@CompanyId  AND NUMBER IN  ----- fp=2,  void=2, notpaid =197
  ( 
'INV-2018-01720',
'INV-2018-02181',
'INV-2018-02237',
'INV-2018-02279',
'INV-2018-02476',
'INV-2018-02485',
'INV-2018-02475',
'INV-2018-02464',
'INV-2018-01777',
'INV-2018-02463',
'INV-2018-02459',
'INV-2018-02467',
'INV-2018-02490',
'INV-2018-02479',
'INV-2018-02466',
'INV-2019-02545',
'INV-2018-02024',
'INV-2018-02301',
'INV-2018-01809',
'INV-2019-02547',
'INV-2018-02284',
'INV-2018-02480',
'INV-2019-02544',
'INV-2018-02417',
'INV-2018-02497',
'INV-2018-01582',
'INV-2018-01778',
'INV-2018-02287',
'INV-2018-02025',
'INV-2018-01812',
'INV-2018-02302',
'INV-2019-02549',
'INV-2019-02548',
'INV-2018-02455',
'INV-2018-02451',
'INV-2019-02546',
'INV-2018-02178',
'INV-2018-02179',
'INV-2018-02080',
'INV-2018-02081',
'INV-2018-02190',
'INV-2019-02550',
'INV-2018-02533',
'INV-2018-02167',
'INV-2018-02194',
'INV-2018-02469',
'INV-2018-02013',
'INV-2018-02496',
'INV-2018-02454',
'INV-2018-02471',
'INV-2018-01751',
'INV-2018-01779',
'INV-2018-01772',
'INV-2018-01773',
'INV-2018-02465',
'INV-2018-02166',
'INV-2018-01743',
'INV-2018-01768',
'INV-2018-01782',
'INV-2018-01766',
'INV-2018-02457',
'INV-2018-02452',
'INV-2018-02462',
'INV-2018-00174',
'INV-2018-00597',
'INV-2018-02472',
'INV-2018-02470',
'INV-2018-02498',
'INV-2019-02540',
'INV-2019-02541',
'INV-2019-02539',
'INV-2018-02422',
'INV-2018-02424',
'INV-2018-02418',
'INV-2018-02420') 
) end 
GO
