USE [SmartCursorSTG]
GO
/****** Object:  StoredProcedure [dbo].[SP_Planned_Hrs_Calc_PendingOpp]    Script Date: 16-12-2024 9.20.11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_Planned_Hrs_Calc_PendingOpp](
    @FROMDATE DATE,
    @TODATE DATE, 
	@COMPANYID BIGINT, 
	@EMPLOYEEID UNIQUEIDENTIFIER )
AS BEGIN

		DECLARE @OUTPUT TABLE ( EMPLOYEENAME NVARCHAR (1000),EMPLOYEEID UNIQUEIDENTIFIER,EMPLOYEENUMBER NVARCHAR(100),CLIENTNAME NVARCHAR(1000),CASENUMBER NVARCHAR(100),CASENAME NVARCHAR(1000), STARTDATE DATE,  ENDDATE DATE,TOTALMINUTES BIGINT, TOATLHOURS TIME,TOTALOVERRUNMINUTES BIGINT, ISOVERRUNHOURS Money,CASEID UNIQUEIDENTIFIER,PHOTOURL NVARCHAR(1000), SCHEDULETYPEID UNIQUEIDENTIFIER NULL, SCHEDULETYPE NVARCHAR(100), IsActualHrs bit)   -- ScheduleTypeid means Calender / LeaveApplication Id - Added by SSK)

		DECLARE @START_DATE DATE
		DECLARE WORKWEEK_EMPLOYEE_HOURS_CURSOR CURSOR FOR 

			SELECT * FROM FC_WORKWEEK(@FROMDATE,@TODATE)  
				OPEN WORKWEEK_EMPLOYEE_HOURS_CURSOR
				FETCH NEXT FROM WORKWEEK_EMPLOYEE_HOURS_CURSOR INTO @START_DATE
				WHILE @@FETCH_STATUS=0
				BEGIN  
				     
					INSERT INTO @OUTPUT (EMPLOYEENAME,EMPLOYEEID,EMPLOYEENUMBER,CLIENTNAME,CASENUMBER,CASENAME,STARTDATE,ENDDATE,TOTALMINUTES,TOTALOVERRUNMINUTES,CASEID,PHOTOURL)										    
						SELECT E.FIRSTNAME AS EMPLOYEENAME, E.ID AS EMPLOYEENO, E.EMPLOYEEID AS EMPLOYEENUMBER,C.NAME AS CLIENTNAME ,CG.SYSTEMREFNO AS CASENUMBER, 
						       C.NAME AS CASENAME,@START_DATE AS START_DATE,DATEADD(D, 6, @START_DATE) AS END_DATE,SUM(DATEDIFF(MINUTE,0,HOURS)) AS TOTALMINUTES,
						       SUM(DATEDIFF(MINUTE,0,IsOverRunHours)) AS TOTALOVERRUNMINUTES,CG.Id AS CASEID,
						       E.PhotoId AS PHOTOURL  
					    FROM COMMON.EMPLOYEE E 
						     LEFT JOIN WORKFLOW.SCHEDULETASK SCH ON E.ID=SCH.EMPLOYEEID 
						     JOIN WORKFLOW.CASEGROUP CG ON CG.ID=SCH.CASEID
						     JOIN WORKFLOW.CLIENT C ON C.ID=CG.CLIENTID
							 Inner Join ClientCursor.Opportunity as Opp On Opp.Id=CG.OpportunityId
						WHERE SCH.STARTDATE <= DATEADD(D, 6, @START_DATE) 
							  And Opp.Stage='Pending'
						      AND SCH.ENDDATE >= @START_DATE 
						      AND SCH.COMPANYID = @COMPANYID
						      AND E.ID=@EMPLOYEEID and cg.ServiceNatureType = 0
						      --AND SCH.ISOVERRUN is null--ISOVERRUN
						GROUP BY SCH.CASEID, E.FIRSTNAME, E.EMPLOYEEID, E.ID, C.NAME, CG.SYSTEMREFNO,CG.Id,E.PhotoId

					  
	
				FETCH NEXT FROM WORKWEEK_EMPLOYEE_HOURS_CURSOR INTO @START_DATE
				END 
		CLOSE WORKWEEK_EMPLOYEE_HOURS_CURSOR
		DEALLOCATE WORKWEEK_EMPLOYEE_HOURS_CURSOR

		SELECT EMPLOYEENAME,EMPLOYEEID,EMPLOYEENUMBER,CLIENTNAME,CASENUMBER,CASENAME,STARTDATE,ENDDATE, (TOTALMINUTES / 60 + (TOTALMINUTES % 60) / 100.0) AS TOATLHOURS, (TOTALOVERRUNMINUTES / 60 + (TOTALOVERRUNMINUTES % 60) / 100.0)  As ISOVERRUNHOURS ,CASEID,PHOTOURL,SCHEDULETYPEID, SCHEDULETYPE , 0 as IsActualHrs
		FROM @OUTPUT 
		GROUP BY EMPLOYEENAME,EMPLOYEEID,EMPLOYEENUMBER,CLIENTNAME,CASENUMBER,CASENAME,STARTDATE,ENDDATE,CASEID,PHOTOURL,SCHEDULETYPEID,SCHEDULETYPE, TOTALMINUTES, TOTALOVERRUNMINUTES
		ORDER BY CASENUMBER  



end
GO
