USE [SmartCursorSTG]
GO
/****** Object:  StoredProcedure [dbo].[DeleteCompanyData_AllCursors]    Script Date: 16-12-2024 9.20.10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[DeleteCompanyData_AllCursors]  ----> EXEC dbo.DeleteCompanyData_AllCursors 1077  -- 12,19,98,158,172,244
@CompanyId Int

--DECLARE 
--@CompanyId Int = 19

AS
BEGIN

DECLARE @CompanyInfo TABLE (Id Int, RegistrationNo Nvarchar(150), Name Nvarchar(500))
DECLARE @CompanyName Varchar(Max)

INSERT INTO @CompanyInfo
SELECT Id,RegistrationNo,Name FROM Common.Company WHERE Id = @CompanyId
UNION ALL
SELECT Id,RegistrationNo,Name FROM Common.Company WHERE ParentId = @CompanyId

SELECT @CompanyName = STRING_AGG(CAST(Id as varchar(10)) + ' - '+Name,', ')  FROM @CompanyInfo

------------------------==================================================================================================================================================================================================
------------------------/////////////////////////////////////////////////////////////////////////////// AUDIT \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
-------------------------==================================================================================================================================================================================================

PRINT ('========================================== Audit Started ============================================')
EXEC dbo.CompanyWise_Audit_DataDeletion @CompanyId
PRINT ('========================================== Audit Completed ============================================')

----------------==================================================================================================================================================================================================
---------------/////////////////////////////////////////////////////////////////////////////// AUTH \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
---------------==================================================================================================================================================================================================

PRINT ('========================================== Auth Started ============================================')
EXEC dbo.CompanyWise_Auth_DataDeletion @CompanyId
PRINT ('========================================== Auth Completed ==========================================')


-----------------==================================================================================================================================================================================================
---------------/////////////////////////////////////////////////////////////////////////////// BEAN \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
----------------==================================================================================================================================================================================================

PRINT ('========================================== Bean Started ============================================')
EXEC dbo.CompanyWise_Bean_DataDeletion @CompanyId
PRINT ('========================================== Bean Completed ==========================================')

----------------------==================================================================================================================================================================================================
----------------------/////////////////////////////////////////////////////////////////////////////// BOARDROOM \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
-----------------------==================================================================================================================================================================================================

PRINT ('========================================== Boardroom Started ============================================')
EXEC dbo.CompanyWise_Boardroom_DataDeletion @CompanyId
PRINT ('========================================== Boardroom Completed ==========================================')

--------------------==================================================================================================================================================================================================
--------------------/////////////////////////////////////////////////////////////////////////////// CLIENT CURSOR \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
---------------------==================================================================================================================================================================================================

PRINT ('========================================== ClientCursor Started ============================================')
EXEC dbo.CompanyWise_Clientcursor_DataDeletion @CompanyId
PRINT ('========================================== ClientCursor Completed ==========================================')


----------------------==================================================================================================================================================================================================
----------------------/////////////////////////////////////////////////////////////////////////////// COMMON \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
-----------------------==================================================================================================================================================================================================

PRINT ('========================================== Common Started ============================================')
EXEC dbo.CompanyWise_Common_DataDeletion @CompanyId
PRINT ('========================================== Common Completed ==========================================')


----------------------==================================================================================================================================================================================================
----------------------/////////////////////////////////////////////////////////////////////////////// HR \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
-----------------------==================================================================================================================================================================================================

PRINT ('========================================== HR Started ============================================')
EXEC dbo.CompanyWise_HR_DataDeletion @CompanyId
PRINT ('========================================== HR Completed ==========================================')

----------------------==================================================================================================================================================================================================
----------------------/////////////////////////////////////////////////////////////////////////////// TAX \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
-----------------------==================================================================================================================================================================================================

PRINT ('========================================== TAX Started ============================================')
EXEC dbo.CompanyWise_Tax_DataDeletion @CompanyId
PRINT ('========================================== TAX Completed ==========================================')


----------------------==================================================================================================================================================================================================
----------------------/////////////////////////////////////////////////////////////////////////////// WORKFLOW \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
-----------------------==================================================================================================================================================================================================

PRINT ('========================================== Workflow Started ============================================')
EXEC dbo.CompanyWise_Workflow_DataDeletion @CompanyId
PRINT ('========================================== Workflow Completed ==========================================')

------------------------==================================================================================================================================================================================================
------------------------/////////////////////////////////////////////////////////////////////////////// COMMON.COMPANY \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
-------------------------==================================================================================================================================================================================================


--PRINT ('========================================== Company Data Deletion Started ============================================')
--DELETE FROM Common.Company WHERE Id IN (SELECT Id FROM @CompanyInfo)


--INSERT INTO dbo.DataDeletedCompaniesInfo (CompanyId,CompanyName,RegistrationNumber,DeletedDate)
--SELECT Id as CompanyId,Name as CompanyName,RegistrationNo,GETDATE() as DeletionDate FROM @CompanyInfo

--PRINT ('Deleted all data for '+ @CompanyName)

BEGIN TRY
        PRINT ('========================================== Company Data Deletion Started ============================================');
        DELETE FROM Common.Company WHERE Id IN (SELECT Id FROM @CompanyInfo);

        -- Check if rows were deleted
        IF @@ROWCOUNT > 0
        BEGIN
            -- Insert into DataDeletedCompaniesInfo
            INSERT INTO dbo.DataDeletedCompaniesInfo (CompanyId, CompanyName, RegistrationNumber, DeletedDate,ErrorDate,ErrorMessage)
            SELECT Id AS CompanyId, Name AS CompanyName, RegistrationNo, GETDATE() AS DeletionDate, NULL,'NA'
            FROM @CompanyInfo;

            PRINT ('Deleted all data for ' + @CompanyName);
        END
        ELSE
        BEGIN
            PRINT ('Company was not deleted from Common.Company for: '+@CompanyName);
        END

END TRY
BEGIN CATCH
    PRINT ('Error occurred while deleting company data: ' + ERROR_MESSAGE());
	INSERT INTO dbo.DataDeletedCompaniesInfo (CompanyId, CompanyName, RegistrationNumber, DeletedDate,ErrorDate,ErrorMessage)
    SELECT Id AS CompanyId, Name AS CompanyName, RegistrationNo, NULL, GETDATE() as ErrorDate,'Error occurred while deleting company data: ' + @CompanyName + ' Error: ' + ERROR_MESSAGE() as ErrorMessage
    FROM @CompanyInfo;
    THROW; -- Re-throw the error to propagate it
END CATCH


END

GO
