USE [SmartCursorSTG]
GO
/****** Object:  StoredProcedure [dbo].[Planned_Hours_Sample]    Script Date: 16-12-2024 9.20.11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[Planned_Hours_Sample]--  Exec Planned_Hours_SampleASBEGINselect SourceCaseId,CaseNumber,Cast((SUM(FeeAllocationDoller)/ Nullif(SUM(Hourscost),0))*100 as Decimal(10,2)) AS 'PlannedRecovery' from (  SELECT SourceCaseId,CaseNumber ,FirstName, FeeAllocationPercentage ,(FeeAllocationPercentage*FEE)/100 as 'FeeAllocationDoller', Hourscost FROM  (  SELECT SourceCaseId,CaseNumber,FEE,FirstName,(((PlanedHours)*(ChargeoutRate))/NUllif(Totalcost,0))*100 AS FeeAllocationPercentage,Hourscost FROM  ( SELECT SourceCaseId,CaseNumber,FirstName ,(Hourscost)/ Nullif((PlanedHours),0) AS ChargeoutRate ,PlanedHours,Hourscost,FEE,Totalcost FROM  ( select SourceCaseId,FEE,CaseNumber,FirstName,SUM(Hourscost) Hourscost,SUM(PlanedHours) PlanedHours,Totalcost ---,(SUM(Hourscost)/nullif(SUM(PlanedHours),0)) ChargeoutRate   from  (  select  SourceCaseId,CaseNumber,FirstName,DepartmentId,DepartmentDesignationId,LevelRank, CAST(PlanedHours AS DECIMAL(20,2))PlanedHours,--- HOURS, ChargeoutRate,  --PlanedHours,ChargeoutRate,  (PlanedHours*ChargeoutRate) Hourscost,FEE,Totalcost--COST ---(SUM(Hourscost)/nullif(SUM(PlanedHours),0))---CHAR   from (select rank() over(partition by E.Id/*ed.departmentId*/ order by ( case when Ed.[EffectiveTo] is null then dateadd(d,-1,Convert(date,Convert(varchar(100),Year(GETDATE())+1)+'-'+'01'+'-'+'01')) else Ed.[EffectiveTo] end  ) desc) as rank ,Totalcost, C.Id SourceCaseId,C.CaseNumber,C.FEE,---case CASE WHEN Cast(ISnull(st.PlanedHours,0)/600000000 As int) >= 60 THEN     Cast(Cast(ISnull(st.PlanedHours,0)/600000000 As int) / 60 As Varchar) + '.' +     Case When (Cast(ISnull(st.PlanedHours,0)/600000000 As int) % 60) < 10 Then       '0'+Cast (Cast (ISnull(st.PlanedHours,0)/600000000 As int) % 60 As varchar)    Else     Cast(Cast(ISnull(st.PlanedHours,0)/600000000 As int) % 60 As varchar)   End    Else    Cast( Cast (st.PlanedHours/600000000 As int) % 60  As varchar) End as PlanedHours,CAST(st.ChargeOutRate AS DECIMAL(20,2)) as ChargeoutRate,e.FirstName,d.id as Departmentid,dd.Id as DepartmentDesignationId,dd.LevelRank	  from WorkFlow.CaseGroup cinner join WorkFlow.Schedule s on s.CaseId=C.Idinner join WorkFlow.ScheduleDetail st on st.MasterId=s.Id--inner join WorkFlow.ScheduleTask tsk on tsk.ScheduleDetailId=st.Idinner Join Common.employee E  on E.Id=st.EmployeeIdInner Join [HR].[EmployeeDepartment] as ed on ED.EmployeeId = E.Id and ed.DepartmentId=st.DepartmentIdInner Join Common.Department D on D.id= ED.DepartmentIdInner Join Common.DepartmentDesignation DD on DD.Id= ED.DepartmentDesignationId and dd.Id=st.DesignationId--where  C.CompanyId=147 and c.CaseNumber='CASE-2018-00188'inner join(select SourceCaseId,FEE,CaseNumber,SUM(Hourscost) Totalcost ---,(SUM(Hourscost)/nullif(SUM(PlanedHours),0)) ChargeoutRate   from  (  select  SourceCaseId,CaseNumber,FirstName,DepartmentId,DepartmentDesignationId,LevelRank, PlanedHours,--- HOURS, ChargeoutRate,  --PlanedHours,ChargeoutRate,  (PlanedHours*ChargeoutRate) Hourscost,FEE--COST ---(SUM(Hourscost)/nullif(SUM(PlanedHours),0))---CHAR   from (select C.id SourceCaseId,C.CaseNumber,C.FEE,---case CASE WHEN Cast(ISnull(st.PlanedHours,0)/600000000 As int) >= 60 THEN     Cast(Cast(ISnull(st.PlanedHours,0)/600000000 As int) / 60 As Varchar) + '.' +     Case When (Cast(ISnull(st.PlanedHours,0)/600000000 As int) % 60) < 10 Then       '0'+Cast (Cast (ISnull(st.PlanedHours,0)/600000000 As int) % 60 As varchar)    Else     Cast(Cast(ISnull(st.PlanedHours,0)/600000000 As int) % 60 As varchar)   End    Else    Cast( Cast (st.PlanedHours/600000000 As int) % 60  As varchar) End as PlanedHours,CAST(st.ChargeOutRate AS DECIMAL(20,2)) as ChargeoutRate,e.FirstName,d.id as Departmentid,dd.Id as DepartmentDesignationId,st.Level as LevelRank	  from WorkFlow.CaseGroup cinner join WorkFlow.Schedule s on s.CaseId=C.Idinner join WorkFlow.ScheduleDetail st on st.MasterId=s.Id--inner join WorkFlow.ScheduleTask tsk on tsk.ScheduleDetailId=st.Idinner Join Common.employee E  on E.Id=st.EmployeeId   Inner Join [HR].[EmployeeDepartment] as ed on ED.EmployeeId = E.Id and ed.DepartmentId=st.DepartmentId   Inner Join Common.Department D on D.id= ED.DepartmentIdInner Join Common.DepartmentDesignation DD on DD.Id= ED.DepartmentDesignationId and dd.Id=st.DesignationIdwhere  C.CompanyId=1 --and c.CaseNumber='CE-CSSINC-2018-02816')ss--where rank=1--group by SourceCaseId,CaseNumber,FirstName,DepartmentId,DepartmentDesignationId,LevelRank,FEE---,PlanedHours,ChargeoutRate) ddgroup by SourceCaseId,CaseNumber,FEE)ff on ff.SourceCaseId=c.Id and ff.CaseNumber=c.CaseNumberwhere  C.CompanyId=1 --and c.CaseNumber='CE-CSSINC-2018-02816')ss--where rank=1--group by SourceCaseId,CaseNumber,FirstName,DepartmentId,DepartmentDesignationId,LevelRank,FEE---,PlanedHours,ChargeoutRate) ddgroup by SourceCaseId,CaseNumber,FirstName,FEE,Totalcost) DD) SS) GG)ffwhere CaseNumber in ('CE-ACCMSR-2018-00193','CE-AUDAOT-2018-00794','CE-XBLFUL-2018-00811','CE-ACCACT-2018-01635','CE-ACCACT-2018-01606','CE-ACCACT-2018-00196',
'CE-ACCACT-2018-00223','CE-TAXCFT-2018-01633')-- Case Number Errors in ('CE-TAXCFT-2018-02036','CE-AUDSTA-2018-00177','CE-AUDAUP-2018-02191','CE-AUDAOT-2018-00182','CE-ADVCAD-2018-02136','CE-ACCGST-2018-00290')group by SourceCaseId,CaseNumberEND
GO
