USE [SmartCursorSTG]
GO
/****** Object:  Table [Bean].[Invoice]    Script Date: 16-12-2024 9.30.55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Bean].[Invoice](
	[Id] [uniqueidentifier] NOT NULL,
	[CompanyId] [bigint] NOT NULL,
	[DocSubType] [nvarchar](20) NULL,
	[DocDate] [datetime] NOT NULL,
	[DueDate] [datetime] NULL,
	[DocNo] [nvarchar](25) NOT NULL,
	[PONo] [nvarchar](50) NULL,
	[NoSupportingDocs] [bit] NULL,
	[SegmentCategory1] [nvarchar](50) NULL,
	[SegmentCategory2] [nvarchar](50) NULL,
	[IsRepeatingInvoice] [bit] NOT NULL,
	[RepEveryPeriodNo] [int] NULL,
	[RepEveryPeriod] [nvarchar](10) NULL,
	[RepEndDate] [datetime2](7) NULL,
	[EntityType] [nvarchar](50) NOT NULL,
	[EntityId] [uniqueidentifier] NOT NULL,
	[CreditTermsId] [bigint] NULL,
	[Nature] [nvarchar](100) NULL,
	[DocCurrency] [nvarchar](5) NULL,
	[ExchangeRate] [decimal](15, 10) NULL,
	[ExCurrency] [nvarchar](5) NULL,
	[ExDurationFrom] [datetime2](7) NULL,
	[ExDurationTo] [datetime2](7) NULL,
	[GSTExchangeRate] [decimal](15, 10) NULL,
	[GSTExCurrency] [nvarchar](5) NULL,
	[GSTExDurationFrom] [datetime2](7) NULL,
	[GSTExDurationTo] [datetime2](7) NULL,
	[DocumentState] [nvarchar](20) NOT NULL,
	[BalanceAmount] [money] NOT NULL,
	[GSTTotalAmount] [money] NULL,
	[GrandTotal] [money] NOT NULL,
	[IsGstSettings] [bit] NOT NULL,
	[IsMultiCurrency] [bit] NOT NULL,
	[IsSegmentReporting] [bit] NULL,
	[IsAllowableNonAllowable] [bit] NULL,
	[Remarks] [nvarchar](1000) NULL,
	[UserCreated] [nvarchar](254) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](254) NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[Status] [int] NULL,
	[ParentInvoiceID] [uniqueidentifier] NULL,
	[InvoiceNumber] [nvarchar](50) NULL,
	[IsNoSupportingDocument] [bit] NULL,
	[ServiceCompanyId] [bigint] NULL,
	[DocType] [nvarchar](50) NULL,
	[IsAllowableDisallowableActivated] [bit] NULL,
	[ReverseDate] [datetime2](7) NULL,
	[ReverseIsSupportingDocument] [bit] NULL,
	[ReverseRemarks] [nvarchar](1000) NULL,
	[AllocatedAmount] [money] NULL,
	[SegmentMasterid1] [bigint] NULL,
	[SegmentMasterid2] [bigint] NULL,
	[SegmentDetailid1] [bigint] NULL,
	[SegmentDetailid2] [bigint] NULL,
	[IsBaseCurrencyRateChanged] [bit] NULL,
	[IsGSTCurrencyRateChanged] [bit] NULL,
	[IsGSTApplied] [bit] NULL,
	[ItemTotal] [money] NULL,
	[ExtensionType] [nvarchar](20) NULL,
	[DocDescription] [nvarchar](256) NULL,
	[IsWorkFlowInvoice] [bit] NULL,
	[CursorType] [nvarchar](50) NULL,
	[DocumentId] [uniqueidentifier] NULL,
	[InternalState] [varchar](50) NULL,
	[RecurInvId] [uniqueidentifier] NULL,
	[IsPost] [bit] NULL,
	[Counter] [int] NULL,
	[NextDue] [datetime2](7) NULL,
	[LastPostedDate] [datetime2](7) NULL,
	[IsOBInvoice] [bit] NULL,
	[OpeningBalanceId] [uniqueidentifier] NULL,
	[SyncWFInvoiceId] [uniqueidentifier] NULL,
	[SyncWFInvoiceStatus] [nvarchar](200) NULL,
	[SyncWFInvoiceDate] [datetime2](7) NULL,
	[SyncWFInvoiceRemarks] [nvarchar](max) NULL,
	[Version] [timestamp] NOT NULL,
	[BaseGrandTotal] [money] NULL,
	[BaseBalanceAmount] [money] NULL,
	[RoundingAmount] [money] NULL,
	[ClearCount] [int] NULL,
	[IsLocked] [bit] NULL,
	[PeppolDocumentId] [nvarchar](50) NULL,
	[PeppolStatus] [nvarchar](20) NULL,
	[PeppolStatusCode] [nvarchar](20) NULL,
	[PeppolRemarks] [nvarchar](max) NULL,
	[XMLFileData] [nvarchar](max) NULL,
 CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Bean].[Invoice] ADD  DEFAULT ('Final') FOR [DocSubType]
GO
ALTER TABLE [Bean].[Invoice] ADD  DEFAULT ((1)) FOR [Status]
GO
