USE [SmartCursorSTG]
GO
/****** Object:  Table [Bean].[OpeningBalance]    Script Date: 16-12-2024 9.30.55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Bean].[OpeningBalance](
	[Id] [uniqueidentifier] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[CompanyId] [bigint] NOT NULL,
	[ServiceCompanyId] [bigint] NOT NULL,
	[BaseCurrency] [nvarchar](5) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UserCreated] [varchar](50) NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [varchar](50) NULL,
	[Status] [bit] NOT NULL,
	[DocType] [nvarchar](20) NULL,
	[Remarks] [nvarchar](1000) NULL,
	[SaveType] [nvarchar](20) NULL,
	[SystemRefNo] [nvarchar](50) NULL,
	[IsMultiCurrency] [bit] NULL,
	[IsSegmentReporting] [bit] NULL,
	[IsNoSupportingDoc] [bit] NULL,
	[IsEditable] [bit] NULL,
	[PostedId] [uniqueidentifier] NULL,
	[Version] [timestamp] NOT NULL,
	[IsLocked] [bit] NULL,
	[IsTemporary] [bit] NULL,
 CONSTRAINT [PK_OpeningBalance] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Bean].[OpeningBalance]  WITH CHECK ADD  CONSTRAINT [FK_OpeningBalance_Company] FOREIGN KEY([CompanyId])
REFERENCES [Common].[Company] ([Id])
GO
ALTER TABLE [Bean].[OpeningBalance] CHECK CONSTRAINT [FK_OpeningBalance_Company]
GO
