USE [SmartCursorSTG]
GO
/****** Object:  Table [Boardroom].[DynamicTemplatesDetail]    Script Date: 16-12-2024 9.30.56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Boardroom].[DynamicTemplatesDetail](
	[Id] [uniqueidentifier] NOT NULL,
	[DynamicTemplateId] [uniqueidentifier] NOT NULL,
	[SubMenuId] [uniqueidentifier] NOT NULL,
	[SubMenuName] [nvarchar](400) NOT NULL,
	[MenuId] [uniqueidentifier] NULL,
	[MenuName] [nvarchar](500) NULL,
 CONSTRAINT [PK_DynamicTemplatesDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Boardroom].[DynamicTemplatesDetail]  WITH CHECK ADD FOREIGN KEY([MenuId])
REFERENCES [Common].[TemplateType] ([Id])
GO
ALTER TABLE [Boardroom].[DynamicTemplatesDetail]  WITH CHECK ADD  CONSTRAINT [FK_DTD_DT] FOREIGN KEY([DynamicTemplateId])
REFERENCES [Boardroom].[DynamicTemplates] ([Id])
GO
ALTER TABLE [Boardroom].[DynamicTemplatesDetail] CHECK CONSTRAINT [FK_DTD_DT]
GO
ALTER TABLE [Boardroom].[DynamicTemplatesDetail]  WITH CHECK ADD  CONSTRAINT [FK_DTD_TemplateTypeDetail] FOREIGN KEY([SubMenuId])
REFERENCES [Common].[TemplateTypeDetail] ([Id])
GO
ALTER TABLE [Boardroom].[DynamicTemplatesDetail] CHECK CONSTRAINT [FK_DTD_TemplateTypeDetail]
GO
