USE [SmartCursorSTG]
GO
/****** Object:  Table [Boardroom].[ContactCommencementDetails]    Script Date: 16-12-2024 9.30.56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Boardroom].[ContactCommencementDetails](
	[Id] [uniqueidentifier] NOT NULL,
	[ContactId] [uniqueidentifier] NOT NULL,
	[DesignationId] [uniqueidentifier] NOT NULL,
	[CommencementDate] [datetime2](7) NULL,
	[CessationDate] [datetime2](7) NULL,
	[ResonforCessation] [nvarchar](100) NULL,
 CONSTRAINT [PK_ContactCommencementDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Boardroom].[ContactCommencementDetails]  WITH CHECK ADD  CONSTRAINT [FK_ContactCommencementDetails_GenericContactDesignation] FOREIGN KEY([DesignationId])
REFERENCES [Boardroom].[GenericContactDesignation] ([Id])
GO
ALTER TABLE [Boardroom].[ContactCommencementDetails] CHECK CONSTRAINT [FK_ContactCommencementDetails_GenericContactDesignation]
GO
