USE [SmartCursorSTG]
GO
/****** Object:  Table [Common].[XeroAuthTokenStore]    Script Date: 16-12-2024 9.30.56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Common].[XeroAuthTokenStore](
	[Id] [uniqueidentifier] NOT NULL,
	[CompanyId] [bigint] NOT NULL,
	[SubCompanyId] [bigint] NOT NULL,
	[State] [nvarchar](500) NULL,
	[Code] [nvarchar](500) NULL,
	[Token] [nvarchar](max) NULL,
	[URL] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[ExpireAt] [datetime2](7) NULL,
	[RefreshToken] [nvarchar](max) NULL,
 CONSTRAINT [PK_XeroAuthTokenStore] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
