USE [SmartCursorSTG]
GO
/****** Object:  Table [Common].[CompanyUserSubscription]    Script Date: 16-12-2024 9.30.56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Common].[CompanyUserSubscription](
	[Id] [uniqueidentifier] NOT NULL,
	[CompanyId] [bigint] NOT NULL,
	[CompanyUserId] [bigint] NOT NULL,
	[SubscriptionId] [uniqueidentifier] NOT NULL,
	[UserCreated] [nvarchar](254) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](254) NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_CompanyUserSubscription] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Common].[CompanyUserSubscription]  WITH CHECK ADD  CONSTRAINT [FK_CompanyUserSubscription_Company] FOREIGN KEY([CompanyId])
REFERENCES [Common].[Company] ([Id])
GO
ALTER TABLE [Common].[CompanyUserSubscription] CHECK CONSTRAINT [FK_CompanyUserSubscription_Company]
GO
ALTER TABLE [Common].[CompanyUserSubscription]  WITH CHECK ADD  CONSTRAINT [FK_CompanyUserSubscription_CompanyUser] FOREIGN KEY([CompanyUserId])
REFERENCES [Common].[CompanyUser] ([Id])
GO
ALTER TABLE [Common].[CompanyUserSubscription] CHECK CONSTRAINT [FK_CompanyUserSubscription_CompanyUser]
GO
ALTER TABLE [Common].[CompanyUserSubscription]  WITH CHECK ADD  CONSTRAINT [FK_CompanyUserSubscription_Subscription] FOREIGN KEY([SubscriptionId])
REFERENCES [License].[Subscription] ([Id])
GO
ALTER TABLE [Common].[CompanyUserSubscription] CHECK CONSTRAINT [FK_CompanyUserSubscription_Subscription]
GO
