USE [SmartCursorSTG]
GO
/****** Object:  Table [Common].[XeroCOADetail]    Script Date: 16-12-2024 9.30.56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Common].[XeroCOADetail](
	[Id] [uniqueidentifier] NOT NULL,
	[XeroCOAId] [uniqueidentifier] NOT NULL,
	[BeanCOAId] [bigint] NOT NULL,
 CONSTRAINT [PK_XeroCOADetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Common].[XeroCOADetail]  WITH CHECK ADD  CONSTRAINT [FK_XeroCOADetail_BeanCOAId] FOREIGN KEY([BeanCOAId])
REFERENCES [Bean].[ChartOfAccount] ([Id])
GO
ALTER TABLE [Common].[XeroCOADetail] CHECK CONSTRAINT [FK_XeroCOADetail_BeanCOAId]
GO
ALTER TABLE [Common].[XeroCOADetail]  WITH CHECK ADD  CONSTRAINT [FK_XeroCOADetail_XeroCOA] FOREIGN KEY([XeroCOAId])
REFERENCES [Common].[XeroCOA] ([Id])
GO
ALTER TABLE [Common].[XeroCOADetail] CHECK CONSTRAINT [FK_XeroCOADetail_XeroCOA]
GO
