USE [SmartCursorSTG]
GO
/****** Object:  Table [dbo].[Empdept_Id]    Script Date: 16-12-2024 9.30.56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empdept_Id](
	[Id] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
