USE [SmartCursorSTG]
GO
/****** Object:  Table [dbo].[BR_Concate_New_devbackup]    Script Date: 16-12-2024 9.30.56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BR_Concate_New_devbackup](
	[Registration No] [nvarchar](255) NULL,
	[Entity Name] [nvarchar](255) NULL,
	[Category] [nvarchar](255) NULL,
	[Position] [nvarchar](255) NULL,
	[Nominee Director] [nvarchar](255) NULL,
	[Appointment Date] [datetime] NULL,
	[Status] [nvarchar](255) NULL,
	[Contact] [nvarchar](255) NULL,
	[Salutation] [nvarchar](255) NULL,
	[Gender] [nvarchar](255) NULL,
	[Nationality] [nvarchar](255) NULL,
	[ID Type] [nvarchar](255) NULL,
	[ID no] [nvarchar](255) NULL,
	[Country of Birth] [nvarchar](255) NULL,
	[Date of Birth] [datetime] NULL,
	[Email] [nvarchar](255) NULL,
	[Country Code] [float] NULL,
	[Mobile Phone No#] [nvarchar](255) NULL,
	[Local/Foreign Address] [nvarchar](255) NULL,
	[Address Type] [nvarchar](255) NULL,
	[Block/House No] [nvarchar](255) NULL,
	[Level & Unit no] [nvarchar](255) NULL,
	[Street] [nvarchar](255) NULL,
	[Building] [nvarchar](255) NULL,
	[Address Line1] [nvarchar](255) NULL,
	[Address Line2] [nvarchar](255) NULL,
	[Country] [nvarchar](255) NULL,
	[Postal Code] [float] NULL,
	[Category 1] [nvarchar](255) NULL,
	[Nominator] [nvarchar](255) NULL,
	[Salutation 1] [nvarchar](255) NULL,
	[Gender 1] [nvarchar](255) NULL,
	[Nationality 1] [nvarchar](255) NULL,
	[ID Type 1] [nvarchar](255) NULL,
	[ID no 1] [float] NULL,
	[Country of Birth 1] [nvarchar](255) NULL,
	[Date of Birth 1] [datetime] NULL,
	[Email 1] [nvarchar](255) NULL,
	[Country Code 1] [float] NULL,
	[Mobile Phone No# 1] [nvarchar](255) NULL,
	[Place of Incorporation] [nvarchar](255) NULL,
	[Incorporation Date] [datetime] NULL,
	[UEN] [nvarchar](255) NULL,
	[Company No] [nvarchar](255) NULL,
	[Local Address/ Foreign Address] [nvarchar](255) NULL,
	[Address Type 1] [nvarchar](255) NULL,
	[Block/House No 1] [nvarchar](255) NULL,
	[Level & Unit no 1] [nvarchar](255) NULL,
	[Street 1] [nvarchar](255) NULL,
	[Building 1] [nvarchar](255) NULL,
	[AddressLine1] [nvarchar](255) NULL,
	[AddressLine2] [nvarchar](255) NULL,
	[AddressLine3] [nvarchar](255) NULL,
	[AddressLine4] [nvarchar](255) NULL,
	[Country 1] [nvarchar](255) NULL,
	[Postal Code 1] [nvarchar](255) NULL
) ON [PRIMARY]
GO
