USE [SmartCursorSTG]
GO
/****** Object:  Table [dbo].[Temp1_Recipient_New]    Script Date: 16-12-2024 9.30.56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp1_Recipient_New](
	[id] [uniqueidentifier] NULL,
	[Recipient_New] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
