USE [SmartCursorSTG]
GO
/****** Object:  Table [dbo].[CaseIncharge$_ToBeDeleted]    Script Date: 16-12-2024 9.30.56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaseIncharge$_ToBeDeleted](
	[Date] [nvarchar](255) NULL,
	[ClientNane] [nvarchar](255) NULL,
	[Case Ref No] [nvarchar](255) NULL,
	[Incharge] [nvarchar](255) NULL,
	[Incharge2] [nvarchar](255) NULL,
	[Incharge3] [nvarchar](255) NULL,
	[Incharge4] [nvarchar](255) NULL,
	[PrimaryIncharge] [nvarchar](255) NULL,
	[PIC] [nvarchar](255) NULL
) ON [PRIMARY]
GO
