USE [SmartCursorSTG]
GO
/****** Object:  Table [dbo].[DocTypeRename]    Script Date: 16-12-2024 9.30.56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocTypeRename](
	[OldName] [varchar](500) NULL,
	[Rename] [varchar](50) NULL
) ON [PRIMARY]
GO
