USE [SmartCursorSTG]
GO
/****** Object:  Table [dbo].[BR_Concate_New_Table_devbackup]    Script Date: 16-12-2024 9.30.56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BR_Concate_New_Table_devbackup](
	[Registration No] [nvarchar](255) NULL,
	[Entity Name] [nvarchar](255) NULL,
	[Category] [nvarchar](255) NULL,
	[Position] [nvarchar](255) NULL,
	[Nominee Director] [nvarchar](255) NULL,
	[Appointment Date] [datetime] NULL,
	[Status] [nvarchar](255) NULL,
	[Contact] [nvarchar](255) NULL,
	[Salutation] [nvarchar](255) NULL,
	[Gender] [nvarchar](255) NULL,
	[Nationality] [nvarchar](255) NULL,
	[ID Type] [nvarchar](255) NULL,
	[ID no] [nvarchar](255) NULL,
	[Country of Birth] [nvarchar](255) NULL,
	[Date of Birth] [datetime] NULL,
	[Email] [nvarchar](255) NULL,
	[Country Code] [float] NULL,
	[Mobile Phone No#] [nvarchar](255) NULL,
	[Local/Foreign Address] [nvarchar](255) NULL,
	[Address Type] [nvarchar](255) NULL,
	[Block/House No] [nvarchar](255) NULL,
	[Level & Unit no] [nvarchar](255) NULL,
	[Street] [nvarchar](255) NULL,
	[Building] [nvarchar](255) NULL,
	[Address Line1] [nvarchar](255) NULL,
	[Address Line2] [nvarchar](255) NULL,
	[Country] [nvarchar](255) NULL,
	[Postal Code] [float] NULL,
	[Category1] [nvarchar](255) NULL,
	[Nominator] [nvarchar](255) NULL,
	[Salutation1] [nvarchar](255) NULL,
	[Gender1] [nvarchar](255) NULL,
	[Nationality1] [nvarchar](255) NULL,
	[ID Type1] [nvarchar](255) NULL,
	[ID no1] [nvarchar](300) NULL,
	[Country of Birth1] [nvarchar](255) NULL,
	[Date of Birth1] [datetime] NULL,
	[Email 1] [nvarchar](255) NULL,
	[Country Code1] [float] NULL,
	[Mobile Phone No#1] [nvarchar](255) NULL,
	[Place of Incorporation] [nvarchar](255) NULL,
	[Incorporation Date] [datetime] NULL,
	[UEN] [nvarchar](255) NULL,
	[Company No] [nvarchar](255) NULL,
	[Local Address/ Foreign Address] [nvarchar](255) NULL,
	[Address Type1] [nvarchar](255) NULL,
	[Block/House No1] [nvarchar](255) NULL,
	[Level & Unit no1] [nvarchar](255) NULL,
	[Street1] [nvarchar](255) NULL,
	[Building1] [nvarchar](255) NULL,
	[AddressLine1] [nvarchar](255) NULL,
	[AddressLine2] [nvarchar](255) NULL,
	[AddressLine3] [nvarchar](255) NULL,
	[AddressLine4] [nvarchar](255) NULL,
	[Country1] [nvarchar](255) NULL,
	[Postal Code1] [nvarchar](255) NULL
) ON [PRIMARY]
GO
