USE [SmartCursorSTG]
GO
/****** Object:  Table [dbo].[BR_SSICCode]    Script Date: 16-12-2024 9.30.56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BR_SSICCode](
	[SSIC 2015 (Version 2018)] [nvarchar](255) NULL,
	[Industry] [nvarchar](255) NULL
) ON [PRIMARY]
GO
