USE [SmartCursorSTG]
GO
/****** Object:  Table [dbo].[tenantids]    Script Date: 16-12-2024 9.30.56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tenantids](
	[id] [nvarchar](50) NULL
) ON [PRIMARY]
GO
