USE [SmartCursorSTG]
GO
/****** Object:  Table [HR].[AssetSetup]    Script Date: 16-12-2024 9.30.56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HR].[AssetSetup](
	[Id] [uniqueidentifier] NOT NULL,
	[CompanyId] [bigint] NOT NULL,
	[Category] [nvarchar](100) NULL,
	[ItemName] [nvarchar](100) NULL,
	[ItemCode] [nvarchar](100) NULL,
	[Quantity] [bigint] NULL,
	[Description] [nvarchar](1000) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UserCreated] [nvarchar](254) NULL,
	[ModifiedBy] [nvarchar](254) NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[Recorder] [int] NULL,
	[Version] [int] NULL,
	[Balance] [int] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_AssetSetup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
