USE [SmartCursorSTG]
GO
/****** Object:  Table [HR].[CompanyReferals]    Script Date: 16-12-2024 9.30.56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HR].[CompanyReferals](
	[Id] [uniqueidentifier] NOT NULL,
	[JobApplicationId] [uniqueidentifier] NULL,
	[Name] [nvarchar](256) NULL,
	[Designation] [nvarchar](100) NULL,
	[OrganisationName] [nvarchar](100) NULL,
	[ContactNumber] [bigint] NULL,
	[EmailAddress] [nvarchar](100) NULL,
	[UserCreated] [varchar](100) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[ModifiedBy] [varchar](100) NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[RecOrder] [int] NULL,
	[IsApproachEmployer] [bit] NULL,
 CONSTRAINT [PK_CompanyReferal_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [HR].[CompanyReferals]  WITH CHECK ADD  CONSTRAINT [FK_CompanyReferal_JobApplicationId] FOREIGN KEY([JobApplicationId])
REFERENCES [HR].[JobApplication] ([Id])
GO
ALTER TABLE [HR].[CompanyReferals] CHECK CONSTRAINT [FK_CompanyReferal_JobApplicationId]
GO
