USE [SmartCursorSTG]
GO
/****** Object:  Table [HR].[IR8SSectionA]    Script Date: 16-12-2024 9.30.57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HR].[IR8SSectionA](
	[Id] [uniqueidentifier] NOT NULL,
	[IR8SId] [uniqueidentifier] NOT NULL,
	[Month] [nvarchar](30) NOT NULL,
	[OW] [money] NULL,
	[OWEmpCPF] [money] NULL,
	[OWEmprCPF] [money] NULL,
	[AW] [money] NULL,
	[AWEmpCPF] [money] NULL,
	[AWEmprCPF] [money] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_IR8SDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [HR].[IR8SSectionA]  WITH CHECK ADD  CONSTRAINT [PK_IR8SDetails_IR8S] FOREIGN KEY([IR8SId])
REFERENCES [HR].[IR8S] ([Id])
GO
ALTER TABLE [HR].[IR8SSectionA] CHECK CONSTRAINT [PK_IR8SDetails_IR8S]
GO
