USE [SmartCursorSTG]
GO
/****** Object:  Table [HR].[LeaveRequestHistory]    Script Date: 16-12-2024 9.30.57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HR].[LeaveRequestHistory](
	[Id] [uniqueidentifier] NOT NULL,
	[StatusChangedEmployeeId] [uniqueidentifier] NOT NULL,
	[LeaveRequestId] [uniqueidentifier] NOT NULL,
	[LeaveStatus] [nvarchar](10) NULL,
	[Remarks] [nvarchar](50) NULL,
	[CreatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_LeaveRequestHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [HR].[LeaveRequestHistory] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [HR].[LeaveRequestHistory]  WITH CHECK ADD  CONSTRAINT [FK_LeaveRequestHistory_Employee] FOREIGN KEY([StatusChangedEmployeeId])
REFERENCES [Common].[Employee] ([Id])
GO
ALTER TABLE [HR].[LeaveRequestHistory] CHECK CONSTRAINT [FK_LeaveRequestHistory_Employee]
GO
ALTER TABLE [HR].[LeaveRequestHistory]  WITH CHECK ADD  CONSTRAINT [FK_LeaveRequestHistory_LeaveRequest] FOREIGN KEY([LeaveRequestId])
REFERENCES [HR].[LeaveRequest] ([Id])
GO
ALTER TABLE [HR].[LeaveRequestHistory] CHECK CONSTRAINT [FK_LeaveRequestHistory_LeaveRequest]
GO
