USE [SmartCursorSTG]
GO
/****** Object:  Table [Import].[HRPayroll_64958dea_1e8f_4d73_8d6a_635303051c67]    Script Date: 16-12-2024 9.30.57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Import].[HRPayroll_64958dea_1e8f_4d73_8d6a_635303051c67](
	[CompanyName] [nvarchar](max) NULL,
	[ShortName] [nvarchar](max) NULL,
	[Year] [int] NULL,
	[Month] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[EmployeeId] [nvarchar](max) NULL,
	[Leave Encashment] [money] NULL,
	[Supplies] [money] NULL,
	[Transport] [money] NULL,
	[Unchecked] [money] NULL,
	[Entertainment] [money] NULL,
	[Directors fees] [money] NULL,
	[Retrenchment Pay] [money] NULL,
	[DDRT] [money] NULL,
	[Commission] [money] NULL,
	[Other Allowance] [money] NULL,
	[Gratuity] [money] NULL,
	[sds] [money] NULL,
	[Bonus] [money] NULL,
	[GMT] [money] NULL,
	[Reimbursement (+)] [money] NULL,
	[3] [money] NULL,
	[OT allowance] [money] NULL,
	[Commission (Monthly)] [money] NULL,
	[testing Purpose] [money] NULL,
	[Claim Deduction] [money] NULL,
	[D.Deduction] [money] NULL,
	[4] [money] NULL,
	[Reimbursement (-)] [money] NULL,
	[Ex-Gratia] [money] NULL,
	[Reimbursementfgdfg] [money] NULL,
	[Notice Pay] [money] NULL,
	[Basic Pay] [money] NULL,
	[AWS] [money] NULL,
	[Reimbursements] [money] NULL,
	[dsfsd] [money] NULL,
	[Env Testing] [money] NULL,
	[OT allowance (Monthly)] [money] NULL,
	[Expenses Reimburse] [money] NULL,
	[Backup] [money] NULL,
	[Vendor Components Cheked] [money] NULL,
	[Deduction] [money] NULL,
	[Audit logs] [money] NULL,
	[Back pay] [money] NULL,
	[MBMF Contribution] [money] NULL,
	[Backpay] [money] NULL,
	[Severance Payment] [money] NULL,
	[New vendor] [money] NULL,
	[5] [money] NULL,
	[ghfj] [money] NULL,
	[Pay components] [money] NULL,
	[hfgh] [money] NULL,
	[NS Deduction] [money] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
