USE [SmartCursorSTG]
GO
/****** Object:  Table [Tax].[DirectorRemunerationDetails]    Script Date: 16-12-2024 9.30.57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Tax].[DirectorRemunerationDetails](
	[Id] [uniqueidentifier] NOT NULL,
	[DirectorRemunerationId] [uniqueidentifier] NOT NULL,
	[Heading] [nvarchar](256) NULL,
	[HeadingRecorder] [int] NULL,
	[LineItemName] [nvarchar](256) NULL,
	[LineItemAmount] [decimal](10, 2) NULL,
	[UserCreated] [nvarchar](254) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](254) NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[Status] [int] NULL,
	[Recorder] [int] NULL,
 CONSTRAINT [PK_DirectorRemunerationDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ADD SENSITIVITY CLASSIFICATION TO [Tax].[DirectorRemunerationDetails].[LineItemAmount] WITH (label = 'Confidential', label_id = '281b9ab3-ecbb-4a57-8486-c702e44215d8', information_type = 'Financial', information_type_id = 'c44193e1-0e58-4b2a-9001-f7d6e7bc1373', rank = Medium);
GO
ALTER TABLE [Tax].[DirectorRemunerationDetails] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [Tax].[DirectorRemunerationDetails]  WITH CHECK ADD  CONSTRAINT [FK_DirectorRemunerationDetails_DirectorRemuneration] FOREIGN KEY([DirectorRemunerationId])
REFERENCES [Tax].[DirectorRemuneration] ([Id])
GO
ALTER TABLE [Tax].[DirectorRemunerationDetails] CHECK CONSTRAINT [FK_DirectorRemunerationDetails_DirectorRemuneration]
GO
