USE [SmartCursorSTG]
GO
/****** Object:  Table [Tax].[AdjustmentFileAttachment]    Script Date: 16-12-2024 9.30.57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Tax].[AdjustmentFileAttachment](
	[ID] [uniqueidentifier] NOT NULL,
	[AdjustmentID] [uniqueidentifier] NULL,
	[FileName] [nvarchar](275) NULL,
	[FilePath] [nvarchar](500) NULL,
	[FileSize] [int] NULL,
	[RecOrder] [int] NULL,
	[Remarks] [nvarchar](256) NULL,
	[UserCreated] [nvarchar](254) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](254) NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[Version] [smallint] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_AdjustmentFileAttachments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Tax].[AdjustmentFileAttachment] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [Tax].[AdjustmentFileAttachment]  WITH CHECK ADD  CONSTRAINT [FK_AdjustmentFileAttachments_Adjustment] FOREIGN KEY([AdjustmentID])
REFERENCES [Tax].[Adjustment] ([ID])
GO
ALTER TABLE [Tax].[AdjustmentFileAttachment] CHECK CONSTRAINT [FK_AdjustmentFileAttachments_Adjustment]
GO
